<div class="partners-join   text-center" >
	<div class="partners-join__content bg" style="background-image: url('img/subscr.jpg');">
		<div class="partners-join__content--text">
			<h3 class="title partners-result__title ">Результаты партнёрств</h3>
			<div class="text-left">
				<p>Далеко-далеко за словесными горами в стране, гласных и согласных, живут рыбные тексты. Решила ipsum буквоград, имени деревни мир бросил, образ агентство ручеек дорогу буквенных последний ее, безопасную страну щеке, правилами себя языком! Несколько, своих, оксмокс. Если семантика семь, журчит своих домах снова.</p>
				<p>Далеко-далеко за словесными горами в стране, гласных и согласных, живут рыбные тексты. Решила ipsum буквоград, имени деревни мир бросил, образ агентство ручеек дорогу буквенных последний ее, безопасную страну щеке, правилами себя языком! Несколько, своих, оксмокс. Если семантика семь, журчит своих домах снова.</p>
			</div>
		</div>
		<div>
			<button class="btn btn-square btn-square-default" type="button"><span>Начать сотрудничество</span></button>
		</div>
	</div>
</div>