<div class="celebration">
	<div class="row row-nowrap celebration__row">
		<div class="celebration-img thumbnail">
			<img src="img/gallery/lg-1.jpg" alt="">

			<!-- Video link -->
			{% include '../../video-link.html' %}
			<!-- //Video link -->

			<svg  viewBox="0 0 78 83"  xmlns="http://www.w3.org/2000/svg" class="celebration-img__svg celebration-img__svg-left">
				<path d="M1 0L77.5 83L0.5 82L1 0Z" />
			</svg>

			<svg viewBox="0 0 47 214"  xmlns="http://www.w3.org/2000/svg" class="celebration-img__svg celebration-img__svg-right">
				<path d="M47 0L46 214H0V58L47 0Z"/>
			</svg>

			<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="celebration-img__svg celebration-img__svg-left-tablet" preserveAspectRatio="none">
				<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
			</svg>

			<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="celebration-img__svg celebration-img__svg-right-tablet" preserveAspectRatio="none">
				<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
			</svg>


		</div>

		<div class="celebration-content">
			<div class="celebration-content__top">
				<h3 class="title title-h2-size">Аренда на детский праздник</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<button class="btn btn-square" type="button"><span>Подробнее</span></button>
			</div>

			<div class="celebration-content__bottom">
				<div class="celebration-content__link--wrapper col-w-50">
					<a href="#" class="celebration-content__link bg" style="background-image: url('img/subscr.jpg');">
						<span>Аренда на детский праздник</span>
					</a>
				</div>

				<div class="celebration-content__link--wrapper col-w-50">
					<a href="#" class="celebration-content__link bg" style="background-image: url('img/subscr.jpg');">
						<span>Аренда на мероприятие</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>