<div class="sertificate-slide">
	<div class="sertificate-slide__img thumbnail">
		<img src="img/sertificate.jpg" alt="">
		<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Они до решила всеми буквоград! Которой, свой большой она языком!</p>
	</div>
	<div class="sertificate-slide__content">
		<h3 class="sertificate-slide__title f-f-bold secondary-color">Электронный онлайн сертификат</h3>
		<button class="btn btn-sm" type="button"><span>Заказать</span></button>
	</div>
</div>