<div class="game-format">
	<div class="game-format__img bg b-radius-5" style="background-image: url('img/gallery/lg-1.jpg');">
		<h3 class="title title-h2-size">VR Аркады</h3>

		<div>
			<button class="btn btn-square btn-wide" type="button"><span>Подробнее</span></button>
		</div>
	</div>

	<div class="game-format__info">
		<div class="game-format__info-item--wrapper col-w-33">
			<div class="game-format__info-item text-center">
				<span class="game-format__info-item--ic" style="background-image: url('img/icons/svg/formats/1.svg');"></span>
				<p>Ограниченная площадь</p>
			</div>
		</div>

		<div class="game-format__info-item--wrapper col-w-33">
			<div class="game-format__info-item text-center">
				<span class="game-format__info-item--ic" style="background-image: url('img/icons/svg/formats/2.svg');"></span>
				<p>Одиночные игры типа Beat Saber и Half-Life: Alyx</p>
			</div>
		</div>

		<div class="game-format__info-item--wrapper col-w-33">
			<div class="game-format__info-item text-center">
				<span class="game-format__info-item--ic" style="background-image: url('img/icons/svg/formats/3.svg');"></span>
				<p>Большой выбор игр</p>
			</div>
		</div>
	</div>
</div>