//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Jura-Regular', 'Jura', 'Jura-Regular',  normal, normal)
webfont('Jura-Bold', 'Jura', 'Jura-Bold',  normal, normal)
webfont('Jura-Medium', 'Jura', 'Jura-Medium',  normal, normal)
webfont('Jura-SemiBold', 'Jura', 'Jura-SemiBold',  normal, normal)
webfont('Jura-Light', 'Jura', 'Jura-Light',  normal, normal)

webfont('MagistralC-Regular', 'MagistralC', 'MagistralC',  normal, normal)
webfont('MagistralC-Bold', 'MagistralC', 'MagistralC-Bold',  normal, normal)


