{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<div id="fullpage">

				<section class="section sect__promo">



					<div class="promo-slider js-promo-slider">
						<!-- Slide -->
						
						<div class="promo-slide">
							<div class="container">
								<div class="promo-slide__content">
									<div class="column row-wrap promo-slide__row">
										<div class="promo-slide__text">
											<h2 class="title title-h2-size">VR Арена со свободным перемещением</h2>
											<h3 class="title title-h3-size subtitle">Hереальные корпоративные<br>скидки 20%</h3>
										</div>

										<!-- Video link -->
										{% include '../parts/components/video-link.html' %}
										<!-- //Video link -->

									</div>

								</div>


								<div class="promo-slide__img">
									<img src="img/promo/1.png" alt="">

									<button class="btn js-open-popup-order-btn" type="button"><span>Забронировать</span></button>

									<div class="decor-circles"></div>

								</div>


								<!-- Slider controls -->
								<button class="btn-arrow js-promo-slider-btn-next btn-arrow__next" type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>

							</div>
							<!-- //container -->
						</div>

						<!-- //Slide -->

						<!-- Slide -->

						<div class="promo-slide promo-slide__right-offset">
							<div class="container">
								<div class="promo-slide__content">
									<div class="column row-wrap promo-slide__row">
										<div class="promo-slide__text">
											<h2 class="title title-h2-size">VR Квесты</h2>
											<h3 class="title title-h3-size subtitle">Hереальные корпоративные<br>скидки 20%</h3>
										</div>

										<!-- Video link -->
										{% include '../parts/components/video-link.html' %}
										<!-- //Video link -->

									</div>
								</div>


								<div class="promo-slide__img">
									<img src="img/promo/2.png" alt="">

									<button class="btn js-open-popup-order-btn" type="button"><span>Забронировать</span></button>

									<div class="decor-circles"></div>

								</div>

								<!-- Slider controls -->
								<button class="btn-arrow js-promo-slider-btn-next btn-arrow__next" type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>

							</div>
							<!-- //container -->

						</div>
						<!-- //Slide -->

						<!-- Slide -->

						<div class="promo-slide">
							<div class="container">
								<div class="promo-slide__content">
									<div class="row row-wrap align-horisontal-between promo-slide__row">
										<div class="promo-slide__text">
											<h2 class="title title-h2-size">VR Аркады</h2>
											<h3 class="title title-h3-size subtitle">Hереальные корпоративные<br>скидки 20%</h3>
										</div>

										<!-- Video link -->
										{% include '../parts/components/video-link.html' %}
										<!-- //Video link -->

									</div>
								</div>


								<div class="promo-slide__img">
									<img src="img/promo/3.png" alt="">

									<button class="btn js-open-popup-order-btn" type="button"><span>Забронировать</span></button>

									<div class="decor-circles"></div>


								</div>


								<!-- Slider controls -->
								<button class="btn-arrow js-promo-slider-btn-next btn-arrow__next" type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>

							</div>
							<!-- //container -->
						</div>

						<!-- //Slide -->
					</div>



				</section>
				<!-- //sect promo -->

				<section class="section sect__advantages gradient-bg">
					<div class="section-content">

						<div class="container">
							<div class="row row-nowrap advantages__row ">

								<div class="advantages-content">
									<div class="advantages-content__text">
										<h2 class="title title-h2-size">Клуб виртуальной реальности Virtuality Club</h2>
										<p class="sect-subtitle">Незабываемые эмоции от погружения в<br> виртуальные миры</p>
									</div>

									<div class="advantages-items">
										<!-- Adv item -->
										<div class="advantage-item text-center">
											<div class="advantage-item__inner">
												<div class="advantage-item__content">
													<span class="advantage-item__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
													<p>Игры для всех возрастов</p>
												</div>
											</div>
										</div>
										<!-- //Adv item -->

										<!-- Adv item -->
										<div class="advantage-item text-center">
											<div class="advantage-item__inner">
												<div class="advantage-item__content">
													<span class="advantage-item__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
													<p>Вместимость до 12 человек при аренде</p>
												</div>
											</div>
										</div>
										<!-- //Adv item -->

										<!-- Adv item -->
										<div class="advantage-item text-center">
											<div class="advantage-item__inner">
												<div class="advantage-item__content">
													<span class="advantage-item__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
													<p>Уникальные услуги - VR-Mix</p>
												</div>
											</div>
										</div>
										<!-- //Adv item -->

										<!-- Adv item -->
										<div class="advantage-item text-center">
											<div class="advantage-item__inner">
												<div class="advantage-item__content">
													<span class="advantage-item__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
													<p>VR без проводов</p>
												</div>
											</div>
										</div>
										<!-- //Adv item -->

										<!-- Adv item -->
										<div class="advantage-item text-center">
											<div class="advantage-item__inner">
												<div class="advantage-item__content">
													<span class="advantage-item__ic" style="background-image: url('img/icons/svg/advantages/5.svg');"></span>
													<p>Человек одновременно</p>
												</div>
											</div>
										</div>
										<!-- //Adv item -->
									</div>
								</div>

								<div class="advantages-text bg" style="background-image: url('img/advantages-text-bg.png');">
									<p>Lorem ipsum dolor sit amet, mei in facete urbanitas assentior, cu purto volumus mel, ut mea labore hendrerit. Volumus gubergren ut sed. Ut mea vitae accusamus consequat. Ex affert rationibus eos, sed in interpretaris signiferumque, electram ocurreret ei qui.</p>


								</div>
							</div>
						</div>
						<!-- //container -->

					</div>
				</section>
				<!-- //sect advantages -->

				<section class="section sect__include">
					<div class="section-content ">
						<div class="container full-height includes-wrapper sect-gutter-top">
							<h2 class="title title-h2-size text-right title-decor">У нас вы найдете</h2>


							<div class="includes__row row align-vertical-end row-nowrap">
								<div class="includes-img">
									<img src="img/includes.png" alt="">

									<div class="decor-circles"></div>
								</div>
								<div class="includes-slider__wrapper">
									<div class="includes-slider js-includes-slider">
										
										<!-- Slide -->

										<div class="include-slide text-center">
											<div class="include-slide__img thumbnail ">
												<img src="img/includes/1.jpg" alt="">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
											</div>

											<h3 class="include-slide__title">Аркадные игры – лучшее</h3>
										</div>

										<!-- //Slide -->

										<!-- Slide -->

										<div class="include-slide text-center">
											<div class="include-slide__img thumbnail ">
												<img src="img/includes/2.jpg" alt="">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
											</div>

											<h3 class="include-slide__title">VR Арена со свободным перемещением</h3>
										</div>
										
										<!-- //Slide -->

										<!-- Slide -->
										
										<div class="include-slide text-center">
											<div class="include-slide__img thumbnail ">
												<img src="img/includes/1.jpg" alt="">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
											</div>

											<h3 class="include-slide__title">Аркадные игры – лучшее</h3>
										</div>
										
										<!-- //Slide -->

										<!-- Slide -->

										<div class="include-slide text-center">
											<div class="include-slide__img thumbnail ">
												<img src="img/includes/2.jpg" alt="">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
											</div>

											<h3 class="include-slide__title">VR Арена со свободным перемещением</h3>
										</div>
										
										<!-- //Slide -->

										<!-- Slide -->
										
										<div class="include-slide text-center">
											<div class="include-slide__img thumbnail ">
												<img src="img/includes/2.jpg" alt="">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
											</div>

											<h3 class="include-slide__title">VR Арена со свободным перемещением</h3>
										</div>
										
										<!-- //Slide -->


									</div>

									<!-- Slider controls -->
									<div class="slider-controls">	
										<button class="btn-arrow btn-arrow__prev js-includes-slider-btn-prev" type="button">
											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>
										</button>
										<button class="btn-arrow btn-arrow__next js-includes-slider-btn-next" type="button">
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
									</div>
									<!-- //Slider controls -->
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>
				<!-- //sect include -->

				<section class="section sect__how-to-play gradient-bg">
					<div class="section-content">	
						<div class="container full-height">	
							<div class="how-to-play sect-gutter-top">
								<h2 class="title text-center title-h2-size">Как играть в виртуальную реальность?</h2>


								<div class="how-to-play__imgs">
									<div class="how-to-play__scheme">
										<img src="img/how-to-play.png" alt="">

										<button class="btn-skew js-open-popup-order-btn" type="button"><span>Записаться</span></button>
									</div>

									<div class="how-to-play__dude">
										<img src="img/dude.png" alt="">
									</div>
								</div>
							</div>
						</div>

					</div>
				</section>
				<!-- //sect how-to-play -->

				{% include '../parts/sections/sect-top-games.html' %}
				<!-- //sect top games -->

				{% include '../parts/sections/sect-catalog.html' %}
				<!-- //sect catalog -->


				<section class="section sect__gallery gradient-bg">
					<div class="section-content">
						<div class="container full-height row align-vertical-end ">

							<div class="row align-vertical-end gallery__row align-horisontal-between row-nowrap">
								<!-- Video link -->
								<a href="video/status.mp4" class="video-link video-link__sm" data-fancybox="video">
									<span class="video-link__poster bg" style="background-image: url('img/video-poster.png');"></span>
								</a>
								<!-- //Video link -->

								<div class="gallery-btn">
									<button class="btn js-open-popup-order-btn" type="button"><span>Записаться</span></button>
								</div>

								<div class="gallery-slider-thumbnails__wrapper">
									<!-- Controls -->
									<div class="gallery-slider-controls">
										<button class="btn-arrow btn-arrow__dark btn-arrow__sm btn-arrow__prev js-gallery-slider-thumbnails-btn-prev " type="button">
											<span></span>
											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__dark btn-arrow__sm btn-arrow__next js-gallery-slider-thumbnails-btn-next " type="button">
											<span></span>
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
									</div>
									<!-- //Controls -->

									<div class="gallery-slider-thumbnails js-gallery-slider-thumbnails">
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/1.jpg" alt=""></div>
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/2.jpg" alt=""></div>
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/3.jpg" alt=""></div>
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/1.jpg" alt=""></div>
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/2.jpg" alt=""></div>
										<div class="gallery-slide-thumbnail thumbnail"><img src="img/gallery/3.jpg" alt=""></div>
									</div>
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>

					<!-- Gallery slider -->
					<div class="gallery-slider js-gallery-slider">
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-1.jpg');"></div>
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-2.jpg');"></div>
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-3.jpg');"></div>
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-1.jpg');"></div>
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-2.jpg');"></div>
						<div class="gallery-slide bg" style="background-image: url('img/gallery/lg-3.jpg');"></div>
					</div>
					<!-- //Gallery slider -->
				</section>
				<!-- //sect gallery -->


				{% include '../parts/sections/sect-stocks.html' %}
				<!-- //sect stocks -->

				<section class="section sect__sertificates">
					<div class="section-content">
						<div class="container full-height">
							<div class="sertificates sect-gutter-top">
								<div class="sertificates__header">
									<div class="row align-vertical-end align-horisontal-between row-nowrap">
										<div class="serficiates-title__col">
											<h2 class="title title-h2-size">Сертификаты</h2>
											<p>Хотите подарить близким незабываемые впечатления виртуальной<br> реальности? Подарочные сертификаты от 1000р до бесконечности! </p>
										</div>

										<div class="sertificates-slider__controls slider-controls">
											<button class="btn-arrow  btn-arrow__prev js-sertificates-slider-btn-prev " type="button">

												<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
													<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
												</svg>

											</button>

											<button class="btn-arrow  btn-arrow__next js-sertificates-slider-btn-next " type="button">
												<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
													<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
												</svg>
											</button>
										</div>
									</div>
								</div>

								<div class="sertificates-slider js-sertificates-slider">
									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->

									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->

									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->

									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->

									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->

									<!-- Slide -->
									{% include '../parts/components/sliders/sertificates/slide.html' %}
									<!-- //Slide -->


								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>
				<!-- //sect sertificates -->


				<section class="section sect__subscription gradient-bg">
					<div class="section-content">
						<div class="container full-height">
							<div class="subscription sect-gutter-top">
								<h2 class="title title-h2-size">Абонементы</h2>

								<div class="subscription-slider__wrapper">
									<div class="subscription-slider js-subscription-slider">
										<!-- Slide -->
										{% include '../parts/components/sliders/subscribe/slide.html' %}
										<!-- //Slide -->

										<!-- Slide -->
										{% include '../parts/components/sliders/subscribe/slide.html' %}
										<!-- //Slide -->

										<!-- Slide -->
										{% include '../parts/components/sliders/subscribe/slide.html' %}
										<!-- //Slide -->

										<!-- Slide -->
										{% include '../parts/components/sliders/subscribe/slide.html' %}
										<!-- //Slide -->

										<!-- Slide -->
										{% include '../parts/components/sliders/subscribe/slide.html' %}
										<!-- //Slide -->
									</div>

									<!-- Controls -->
									<div class="slider-controls">
										<button class="btn-arrow btn-arrow__sm btn-arrow__prev js-subscription-slider-btn-prev " type="button">
											<span></span>
											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-subscription-slider-btn-next " type="button">
											<span></span>
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
									</div>
									<!-- //Controls -->
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>

				<!-- //sect subscription -->


				<section class="section simple-sections ">
					<div class="section-content">
						<div class="sections">
							<section class="sect__faq sect-gutter-top gutter-bottom">

								<div class="container">
									<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
										<h2 class="title title-h2-size">Часто задаваемые вопросы</h2>

										<div class="slider-controls">
											<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-faq-slider-btn-prev " type="button">

												<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
													<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
												</svg>

											</button>

											<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-faq-slider-btn-next " type="button">
												<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
													<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
												</svg>
											</button>
										</div>

									</div>

									<div class="faq-slider__wrapper slider">
										<div class="faq-slider js-faq-slider">
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
											{% include '../parts/components/sliders/faq/slides.html' %}
										</div>

										<!-- Controls -->
										<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-faq-slider-btn-prev " type="button">

											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-faq-slider-btn-next " type="button">
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
										<!-- //Controls -->
									</div>
								</div>
								<!-- //container -->


							</section>
							<!-- //sect faqs -->

							<section class="sect__feedbacks gutter-bottom">

								<div class="container">
									<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
										<h2 class="title title-h2-size">Эмоции от виртуальной реальности</h2>

										<div class="slider-controls">
											<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-feedbacks-slider-btn-prev " type="button">

												<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
													<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
												</svg>

											</button>

											<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-feedbacks-slider-btn-next " type="button">
												<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
													<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
												</svg>
											</button>
										</div>
									</div>

									<div class="feedbacks-slider__wrapper slider">

										<div class="feedbacks-slider js-feedbacks-slider">

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

											<!-- Slide -->
											<div class="feedback-slide">
												<div class="feedback-slide__header">
													<span class="feedback-slide__src">
														<img src="img/google.svg" alt="">
													</span>
													<div class="feedback-slide__link-wrapper">
														<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
													</div>

												</div>
												<div class="feedback-slide__content">
													<div class="feedback-slide__author">
														<div class="feedback-slide__author-information">
															<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
															<h3 class="feedback-slide__author-information_name">Анастасия </h3>
														</div>
														<span class="feedback-slide__author-stars">5</span>
													</div>

													<div class="feedback-slide__text">
														<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
													</div>

													<div class="feedback-slide__gallery">
														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

														<div class="feedback-slide__gallery--item">
															<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
																<img src="img/subscr.jpg" alt="">
															</a>
														</div>

													</div>
												</div>
											</div>
											<!-- //Slide -->

										</div>


										<!-- Controls -->
										<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-feedbacks-slider-btn-prev " type="button">

											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-feedbacks-slider-btn-next " type="button">
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
										<!-- //Controls -->
									</div>
								</div>
								<!-- //container -->


							</section>
							<!-- //sect feedbacks -->

						</div>

					</div>


					





				</section>


				{% include '../parts/sections/sect-contacts.html' %}


				<!-- Footer -->
				{% include '../parts/sections/footer.html' %}
				<!-- //Footer -->

				




			</div>
			<!-- //fullpage -->






			<div class="page-nav" >
				<ul class="page-nav__list" id="pageNav">
					{% include '../parts/components/page-nav/home.html' %}
					{% include '../parts/components/page-nav/advantages.html' %}
					{% include '../parts/components/page-nav/include.html' %}
					{% include '../parts/components/page-nav/how-to-play.html' %}
					{% include '../parts/components/page-nav/top-games.html' %}
					{% include '../parts/components/page-nav/catalog.html' %}
					{% include '../parts/components/page-nav/gallery.html' %}
					{% include '../parts/components/page-nav/stocks.html' %}
					{% include '../parts/components/page-nav/sertificates.html' %}
					{% include '../parts/components/page-nav/subscr.html' %}
				</ul>
			</div>

		</main>
		<!-- //Main -->



		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>