{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		{% include '../parts/components/menu/menu-main.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Наши услуги</h1>

			<div id="fullpage">

				<section class="section sect__services light-bg">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">
							<div class="services-slider__wrapper">

								<div class="services-slider js-services-slider">
									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Игровые сеансы</h2>
											<div class="row align-vertical-center align-horisontal-between service-btns__row row-nowrap">
												<nav class="service-btns__nav">
													<ul>
														<li><a class="btn-figure" href="page-quest.html"><span>VR квесты</span></a></li>
														<li><a class="btn-figure" href="page-arena.html"><span>VR Арена</span></a></li>
														<li><a class="btn-figure" href="page-arcades.html"><span>VR аркады</span></a></li>
													</ul>
												</nav>

												<p class="text-right service-slide__text">Бронируй сеансы по заявке или звонком или приходи в клуб на удачу!</p>
											</div>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/1.jpg" alt="">

											<svg  viewBox="0 0 66 324"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M1 0.5L66 81V243L0.5 323.5L1 0.5Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда клуба на мероприятие<br> Фото и видеосъемка</h2>
											<p class="service-slide__text">Проводи выходные с коллегами или друзьями с незабываемыми<br> эмоциями и открытием новых виртуальных миров</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/2.jpg" alt="">

											<svg  viewBox="0 0 66 324"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M1 0.5L66 81V243L0.5 323.5L1 0.5Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда клуба на детский праздник<br> Фото и видеосъемка</h2>
											<p class="service-slide__text">Незабываемый детский праздник в активном игровом<br> формате для детей от 8 лет</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/3.jpg" alt="">

											<svg  viewBox="0 0 66 324"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M1 0.5L66 81V243L0.5 323.5L1 0.5Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Курсы обучения VR разработке</h2>
											<p class="service-slide__text">Актуальные знания для будущего VR Разработчика</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/4.jpg" alt="">

											<svg  viewBox="0 0 66 324"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M1 0.5L66 81V243L0.5 323.5L1 0.5Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда VR на дом</h2>
											<p class="service-slide__text">Домашний VR стал доступен каждому! Играй и<br> развлекайся не выходя из дома!</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/5.jpg" alt="">

											<svg  viewBox="0 0 66 324"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M1 0.5L66 81V243L0.5 323.5L1 0.5Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->
								</div>
								

								<!-- Controls -->
								<button class="btn-arrow  btn-arrow__prev js-services-slider-btn-prev " type="button">

									<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
									</svg>

								</button>

								<button class="btn-arrow btn-arrow__next js-services-slider-btn-next " type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>
							</div>

						</div>
					</div>
				</section>
				<!-- //sect services -->

				<section class="section sect__game-formats gradient-bg">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">
							<div class="game-formats">
								<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
									<h2 class="title title-h2-size">Игровые форматы</h2>

									<div class="slider-controls">
										<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-game-formats-slider-btn-prev " type="button">

											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-game-formats-slider-btn-next " type="button">
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
									</div>

								</div>

								<div class="game-formats__slider js-game-formats-slider">
									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>
				<!-- //sect game formats -->

				<section class="section sect__celebration">
					
				</section>
				<!-- //sect celebration -->

				<section class="section sect__rent gradient-bg">
					
				</section>
				<!-- //sect rent -->

				<section class="section sect__education">
					
				</section>
				<!-- //sect education -->




				




			</div>
			<!-- //fullpage -->


			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //sect feedbacks -->








			<div class="page-nav" >
				<ul class="page-nav__list" id="pageNav">
					{% include '../parts/components/page-nav/home.html' %}
					{% include '../parts/components/page-nav/formats-vr.html' %}
					{% include '../parts/components/page-nav/celebration.html' %}
					{% include '../parts/components/page-nav/rent.html' %}
					{% include '../parts/components/page-nav/education.html' %}
				</ul>
				{% include '../parts/components/page-nav/last.html' %}
			</div>

		</main>
		<!-- //Main -->


		
		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->





		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>