{% include '../parts/head.html' %}
<body class="page-content light-header">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		{% include '../parts/components/menu/menu-inner.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">


			<section class="sect__partners-results gutter-top gutter-bottom-sm">
				<div class="container">
					<div class="sect-header row align-horisontal-center align-vertical-center row-nowrap">
						<h1 class="title title-h2-size">Результаты партнёрств</h1>

						<div class="slider-controls">
							<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-partners-results-slider-btn-prev " type="button">

								<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
								</svg>

							</button>

							<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-partners-results-slider-btn-next " type="button">
								<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
								</svg>
							</button>
						</div>

					</div>


					
					<div class="container-sm">
						<div class="partners-results-slider__wrapper">
							<div class="partners-results-slider js-partners-results-slider">
								<!-- Slide -->
								{% include '../parts/components/sliders/partners/result.html' %}
								<!-- //Slide -->

								<!-- Slide -->
								{% include '../parts/components/sliders/partners/result.html' %}
								<!-- //Slide -->

								<!-- Slide -->
								{% include '../parts/components/sliders/partners/result.html' %}
								<!-- //Slide -->
							</div>

							<!-- Controls -->
							<button class="btn-arrow btn-arrow__sm btn-arrow__prev js-partners-results-slider-btn-prev" type="button">
								<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
								</svg>
							</button>
							<button class="btn-arrow btn-arrow__sm btn-arrow__next js-partners-results-slider-btn-next" type="button">
								<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
								</svg>
							</button>
						</div>


						<div class="partners-description row row-nowrap ">
							<div class="content">
								<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Проектах, ты? Несколько своего осталось ipsum рукописи переписали, языком запятых семантика однажды всемогущая необходимыми семь напоивший послушавшись, всеми, путь рукопись.</p>
								<p>Запятой необходимыми даль взгляд снова дорогу власти, букв возвращайся он дал назад залетают раз пояс заголовок! Образ ipsum, назад великий, не над речью снова курсивных встретил текстов журчит имеет, гор!</p>
							</div>

							<div class="partners-description__img thumbnail b-radius-5">
								<img src="img/subscr.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect partners results -->


			<div class="partners-join-slider__wrapper gutter-bottom-sm">
				<h2 class="w3c">Стать партнером</h2>
				<div class="partners-join-slider js-partners-join-slider"> 

					{% include '../parts/components/sliders/partners/join.html' %}
					<!-- //slide -->

					{% include '../parts/components/sliders/partners/join.html' %}
					<!-- //slide -->

					{% include '../parts/components/sliders/partners/join.html' %}
					<!-- //slide -->

					{% include '../parts/components/sliders/partners/join.html' %}
					<!-- //slide -->

					{% include '../parts/components/sliders/partners/join.html' %}
					<!-- //slide -->
				</div>
			</div>


			<section class="sect__companies-partners gutter-bottom">
				

				<div class="container">
					<div class="sect-header row align-horisontal-center align-vertical-center row-nowrap">
						<h1 class="title title-h2-size">Компании-партнеры</h1>

						<div class="slider-controls">
							<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-logos-slider-btn-prev " type="button">

								<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
								</svg>

							</button>

							<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-logos-slider-btn-next " type="button">
								<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
								</svg>
							</button>
						</div>

					</div>
					<div class="container-sm">
						<div class="logos-slider__wrapper slider">
							<div class="logos-slider js-logos-slider">
								<div class="logo-slide"><img src="img/logos/1.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/2.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/3.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/4.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/5.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/6.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/7.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/8.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/9.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/10.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/1.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/2.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/3.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/4.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/5.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/6.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/7.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/8.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/9.png" alt=""></div>
								<div class="logo-slide"><img src="img/logos/10.png" alt=""></div>
							</div>

							<!-- Controls -->
							<button class="btn-arrow btn-arrow__sm btn-arrow__prev js-logos-slider-btn-prev" type="button">
								<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
								</svg>
							</button>
							<button class="btn-arrow btn-arrow__sm btn-arrow__next js-logos-slider-btn-next" type="button">
								<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
								</svg>
							</button>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			

		</main>
		<!-- //Main -->


		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>