{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		{% include '../parts/components/menu/menu-main.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<h1 class="w3c">Наши услуги</h1>

			<div id="fullpage">

				<section class="section sect__services light-bg">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">
							<div class="services-slider__wrapper">

								<div class="services-slider js-services-slider">
									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Игровые сеансы</h2>
											<div class="row align-vertical-center align-horisontal-between service-btns__row row-nowrap">
												<nav class="service-btns__nav">
													<ul>
														<li><a class="btn-figure" href="page-quest.html"><span>VR квесты</span></a></li>
														<li><a class="btn-figure" href="page-arena.html"><span>VR Арена</span></a></li>
														<li><a class="btn-figure" href="page-arcades.html"><span>VR аркады</span></a></li>
													</ul>
												</nav>

												<p class="text-right service-slide__text">Бронируй сеансы по заявке или звонком или приходи в клуб на удачу!</p>
											</div>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/1.jpg" alt="">


											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
											</svg>

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right-tablet" preserveAspectRatio="none">
												<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда клуба на мероприятие<br> Фото и видеосъемка</h2>
											<p class="service-slide__text">Проводи выходные с коллегами или друзьями с незабываемыми<br> эмоциями и открытием новых виртуальных миров</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/2.jpg" alt="">

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
											</svg>

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right-tablet" preserveAspectRatio="none">
												<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>


										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда клуба на детский праздник<br> Фото и видеосъемка</h2>
											<p class="service-slide__text">Незабываемый детский праздник в активном игровом<br> формате для детей от 8 лет</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/3.jpg" alt="">

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
											</svg>

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right-tablet" preserveAspectRatio="none">
												<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Курсы обучения VR разработке</h2>
											<p class="service-slide__text">Актуальные знания для будущего VR Разработчика</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/4.jpg" alt="">

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
											</svg>

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right-tablet" preserveAspectRatio="none">
												<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>

										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->

									<div class="service-slide">
										<div class="service-slide__content">
											<h2 class="title title-h2-size">Аренда VR на дом</h2>
											<p class="service-slide__text">Домашний VR стал доступен каждому! Играй и<br> развлекайся не выходя из дома!</p>
										</div>
										<div class="service-slide__img">
											<img src="img/services/services/5.jpg" alt="">

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_left" preserveAspectRatio="none">
												<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
											</svg>

											<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right-tablet" preserveAspectRatio="none">
												<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
											</svg>


											<svg viewBox="0 0 66 489"  xmlns="http://www.w3.org/2000/svg" class="service-slide__img-svg service-slide__img-svg_right" preserveAspectRatio="none">
												<path d="M65.5 0V489H0V81L65.5 0Z" />
											</svg>


										</div>


										<button class="btn btn-square " type="button"><span>Подробнее</span></button>
									</div>
									<!-- //slide -->
								</div>
								

								<!-- Controls -->
								<button class="btn-arrow  btn-arrow__prev js-services-slider-btn-prev " type="button">

									<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
									</svg>

								</button>

								<button class="btn-arrow btn-arrow__next js-services-slider-btn-next " type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>
							</div>

						</div>
					</div>
				</section>
				<!-- //sect services -->

				<section class="section sect__game-formats gradient-bg">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">
							<div class="game-formats">
								<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
									<h2 class="title title-h2-size">Игровые форматы</h2>

									<div class="slider-controls">
										<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-game-formats-slider-btn-prev " type="button">

											<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
												<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
											</svg>

										</button>

										<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-game-formats-slider-btn-next " type="button">
											<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
												<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
											</svg>
										</button>
									</div>

								</div>

								<div class="game-formats__slider js-game-formats-slider">
									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/services/format.html' %}
									<!-- //slide -->
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</section>
				<!-- //sect game formats -->

				<section class="section sect__celebration light-bg">
					<h2 class="w3c">Аренда на детский праздник</h2>
					<div class="section-content">
						<div class="container full-height sect-gutter-top">
							<div class="celebration-slider__wrapper">
								<div class="celebration-slider js-celebration-slider">

									{% include '../parts/components/sliders/celebration/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/celebration/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/celebration/slide.html' %}
									<!-- //slide -->

								</div>

								<div class="celebration-slider__controls row align-horisontal-end">
									<div class="celebration-content">
										<div class="slider-controls">
											<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-celebration-slider-btn-prev " type="button">

												<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
													<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
												</svg>

											</button>

											<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-celebration-slider-btn-next " type="button">
												<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
													<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
												</svg>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- //sect celebration -->

				<section class="section sect__rent">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">

							<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
								<h2 class="title title-h2-size">VR Аренда на дом</h2>

								<div class="slider-controls">
									<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-rent-slider-btn-prev " type="button">

										<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
											<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
										</svg>

									</button>

									<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-rent-slider-btn-next " type="button">
										<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
											<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
										</svg>
									</button>
								</div>

							</div>

							<div class="rent-slider__wrapper">
								<div class="rent-slider js-rent-slider" >
									{% include '../parts/components/sliders/rent/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/rent/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/rent/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/rent/slide.html' %}
									<!-- //slide -->

									{% include '../parts/components/sliders/rent/slide.html' %}
									<!-- //slide -->
								</div>
							</div>

						</div>
					</div>
				</section>
				<!-- //sect rent -->

				<section class="section sect__rent">
					<div class="section-content">
						<div class="container full-height sect-gutter-top">

							
							
							<h2 class="title title-h2-size text-center">VR Аренда на дом</h2>

							<div class="rent-slider__wrapper">

								<div class="rent-slider rent-slider__custom js-rent-custom-slider">
									<div class="rent-slide-custom">
										<div class="rent-slide__content bg text-center" style="background-image: url('img/gallery/lg-2.jpg');">
											<h3 class="title title-h2-size">Аренда 360 Видео</h3>

											<button class="btn btn-square" type="button"><span>Подробнее</span></button>
										</div>
									</div>
									<!-- //slide -->

									<div class="rent-slide-custom">
										<div class="rent-slide__content bg text-center" style="background-image: url('img/gallery/lg-2.jpg');">
											<h3 class="title title-h2-size">Аренда игр</h3>

											<button class="btn btn-square" type="button"><span>Подробнее</span></button>
										</div>
									</div>
									<!-- //slide -->

									<div class="rent-slide-custom">
										<div class="rent-slide__content bg text-center" style="background-image: url('img/gallery/lg-2.jpg');">
											<h3 class="title title-h2-size">Аренда 360 Видео</h3>

											<button class="btn btn-square" type="button"><span>Подробнее</span></button>
										</div>
									</div>
									<!-- //slide -->
								</div>

								<div class="rent-slider-information js-rent-information-slider">
									<div class="rent-slide-information">
										<div class="rent-slide-information__content row align-horisontal-between align-vertical-center">

											<div class="rent-slide-information__gallery">
												<div class="rent-slide-information__gallery--item">
													<a href="img/gallery/lg-1.jpg" class="rent-slide-information__gallery--item_link bg" data-fancybox="rent-gallery" style="background-image: url('img/gallery/1.jpg');"></a>
												</div>

												<div class="rent-slide-information__gallery--item">
													<a href="img/gallery/lg-2.jpg" class="rent-slide-information__gallery--item_link bg" data-fancybox="rent-gallery" style="background-image: url('img/gallery/2.jpg');"></a>
												</div>

												<div class="rent-slide-information__gallery--item">
													<a href="img/gallery/lg-3.jpg" class="rent-slide-information__gallery--item_link bg" data-fancybox="rent-gallery" style="background-image: url('img/gallery/3.jpg');"></a>
												</div>
											</div>
											
											<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Это злых необходимыми точках, страна.</p>
										</div>
									</div>
									
									<div class="rent-slide-information">
										<div class="rent-slide-information__content row align-horisontal-between align-vertical-center">

											<div class="rent-slide-information__gallery">
												<div class="rent-slide-information__gallery--item">
													<a href="img/gallery/lg-1.jpg" class="rent-slide-information__gallery--item_link bg" data-fancybox="rent-gallery" style="background-image: url('img/gallery/1.jpg');"></a>
												</div>

											</div>
											
											<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Это злых необходимыми точках, страна.</p>
										</div>
									</div>

									<div class="rent-slide-information">
										<div class="rent-slide-information__content row align-horisontal-between align-vertical-center">

											<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Это злых необходимыми точках, страна.</p>
										</div>
									</div>
								</div>

								<!-- Controls -->
								<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-rent-information-slider-btn-prev " type="button">

									<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
									</svg>

								</button>

								<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-rent-information-slider-btn-next " type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>

								<!-- Svg -->
								<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="rent-slider-custom__svg rent-slider-custom__svg-left" preserveAspectRatio="none">
									<path d="M0 0L65.5 80.5V242.5L0 323V0Z" />
								</svg>

								<svg  viewBox="0 0 66 323"  xmlns="http://www.w3.org/2000/svg" class="rent-slider-custom__svg rent-slider-custom__svg-right" preserveAspectRatio="none">
									<path d="M65.5 323L0 242.5L0 80.5L65.5 0L65.5 323Z" />
								</svg>

							</div>
						</div>
					</div>
				</section>
				<!-- //sect rent -->



				

				<section class="section sect__education section-center gutter-bottom light-bg">
					<div class="section-content">
						<div class="container sect-gutter-top">
							<h2 class="title title-h2-size text-center">Обучение VR Разработке</h2>

							<div class="education">
								<div class="row education__row">
									<div class="education-img">
										<img src="img/education-dude.png" alt="" class="education-img__main">

										<svg  viewBox="0 0 38 354" xmlns="http://www.w3.org/2000/svg" class="education-img__svg education-img__svg-left">
											<path d="M0 0L37 69.5L37.5 354H0V0Z" />
										</svg>

										<svg viewBox="0 0 38 354"  xmlns="http://www.w3.org/2000/svg" class="education-img__svg education-img__svg-right">
											<path d="M0 0H37V337L0 268V0Z"/>
										</svg>

										<img src="img/decor/education/vec-1.png" alt="" class="education-img__decor education-img__decor-1">
										<img src="img/decor/education/vec-2.png" alt="" class="education-img__decor education-img__decor-2">
										<img src="img/decor/education/vec-3.png" alt="" class="education-img__decor education-img__decor-3">
										<img src="img/decor/education/cube.png" alt="" class="education-img__decor education-img__decor-4">



									</div>

									<div class="education-content">
										<h3 class="title title-h2-size text-center">Курс разработки</h3>

										<div class="education-controls">
											<button class="education-controls__btn js-education-controls-btn is-active" type="button"><span>Start</span></button>
											<button class="education-controls__btn js-education-controls-btn" type="button"><span>Middle</span></button>
											<button class="education-controls__btn js-education-controls-btn" type="button"><span>Profi</span></button>
										</div>

										<div class="education-courses">
											<div class="education-course js-education-course">
												<div class="education-course__text">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
													<button class="permalink js-open-popup-template-btn" type="button" data-popup-lightmode="true" data-popup-outer="true">
														<span>Подробнее</span>
														<svg  viewBox="0 0 12 9"  xmlns="http://www.w3.org/2000/svg">
															<path d="M1 3.9668C0.723858 3.9668 0.5 4.19065 0.5 4.4668C0.5 4.74294 0.723858 4.9668 1 4.9668V3.9668ZM11.5986 4.82035C11.7938 4.62509 11.7938 4.30851 11.5986 4.11324L8.41661 0.931263C8.22134 0.736001 7.90476 0.736001 7.7095 0.931263C7.51424 1.12653 7.51424 1.44311 7.7095 1.63837L10.5379 4.4668L7.7095 7.29522C7.51424 7.49049 7.51424 7.80707 7.7095 8.00233C7.90476 8.19759 8.22134 8.19759 8.41661 8.00233L11.5986 4.82035ZM1 4.9668H11.245V3.9668H1V4.9668Z" />
														</svg>
													</button>
												</div>
												
												<div class="btn-wrapper text-center">
													<button class="btn btn-square js-open-popup-order-btn" type="button"><span>Записаться</span></button>
												</div>
											</div>
											<!-- //course -->

											<div class="education-course js-education-course">
												<div class="education-course__text">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
													<button class="permalink js-open-popup-template-btn" type="button" data-popup-lightmode="true" data-popup-outer="true">
														<span>Подробнее</span>
														<svg  viewBox="0 0 12 9"  xmlns="http://www.w3.org/2000/svg">
															<path d="M1 3.9668C0.723858 3.9668 0.5 4.19065 0.5 4.4668C0.5 4.74294 0.723858 4.9668 1 4.9668V3.9668ZM11.5986 4.82035C11.7938 4.62509 11.7938 4.30851 11.5986 4.11324L8.41661 0.931263C8.22134 0.736001 7.90476 0.736001 7.7095 0.931263C7.51424 1.12653 7.51424 1.44311 7.7095 1.63837L10.5379 4.4668L7.7095 7.29522C7.51424 7.49049 7.51424 7.80707 7.7095 8.00233C7.90476 8.19759 8.22134 8.19759 8.41661 8.00233L11.5986 4.82035ZM1 4.9668H11.245V3.9668H1V4.9668Z" />
														</svg>
													</button>
												</div>
												
												<div class="btn-wrapper text-center">
													<button class="btn btn-square js-open-popup-order-btn" type="button"><span>Записаться</span></button>
												</div>
											</div>
											<!-- //course -->

											<div class="education-course js-education-course">
												<div class="education-course__text">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua.</p>
													<button class="permalink js-open-popup-template-btn" type="button" data-popup-lightmode="true" data-popup-outer="true">
														<span>Подробнее</span>
														<svg  viewBox="0 0 12 9"  xmlns="http://www.w3.org/2000/svg">
															<path d="M1 3.9668C0.723858 3.9668 0.5 4.19065 0.5 4.4668C0.5 4.74294 0.723858 4.9668 1 4.9668V3.9668ZM11.5986 4.82035C11.7938 4.62509 11.7938 4.30851 11.5986 4.11324L8.41661 0.931263C8.22134 0.736001 7.90476 0.736001 7.7095 0.931263C7.51424 1.12653 7.51424 1.44311 7.7095 1.63837L10.5379 4.4668L7.7095 7.29522C7.51424 7.49049 7.51424 7.80707 7.7095 8.00233C7.90476 8.19759 8.22134 8.19759 8.41661 8.00233L11.5986 4.82035ZM1 4.9668H11.245V3.9668H1V4.9668Z" />
														</svg>
													</button>
												</div>
												
												<div class="btn-wrapper text-center">
													<button class="btn btn-square js-open-popup-order-btn" type="button"><span>Записаться</span></button>
												</div>
											</div>
											<!-- //course -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- //sect education -->




				




			</div>
			<!-- //fullpage -->


			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //sect feedbacks -->








			<div class="page-nav" >
				<ul class="page-nav__list" id="pageNav">
					{% include '../parts/components/page-nav/home.html' %}
					{% include '../parts/components/page-nav/formats-vr.html' %}
					{% include '../parts/components/page-nav/celebration.html' %}
					{% include '../parts/components/page-nav/rent.html' %}
					{% include '../parts/components/page-nav/education.html' %}
				</ul>
				{% include '../parts/components/page-nav/last.html' %}
			</div>

		</main>
		<!-- //Main -->


		
		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->





		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>