{% include '../parts/head.html' %}
<body class="page-content page-inner">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		{% include '../parts/components/menu/menu-inner.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main gradient-bg">

			<h1 class="w3c">Абонементы</h1>

			<section class="sect__subscription-types gutter-top gutter-bottom">
				<div class="container">
					<div class="subscription-types-slider__wrapper gutter-bottom">
						<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
							<h2 class="title title-h2-size">Work-Week Абонементы</h2>

							<div class="slider-controls">
								<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-subscription-types-slider-btn-prev " type="button">

									<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
									</svg>

								</button>

								<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-subscription-types-slider-btn-next " type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>
							</div>

						</div>

						<div class="subscription-types-slider js-subscription-types-slider">
							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->
						</div>
					</div>
					<!-- //slider block -->

					<div class="subscription-types-slider__wrapper gutter-bottom">
						<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
							<h2 class="title title-h2-size">Work-Week Абонементы</h2>

							<div class="slider-controls">
								<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-subscription-types-slider-btn-prev " type="button">

									<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
									</svg>

								</button>

								<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-subscription-types-slider-btn-next " type="button">
									<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
									</svg>
								</button>
							</div>

						</div>

						<div class="subscription-types-slider js-subscription-types-slider">
							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->

							{% include '../parts/components/sliders/subscribe/type.html' %}
							<!-- //slide -->
						</div>
					</div>
					<!-- //slider block -->
				</div>
				<!-- //container -->
			</section>



			<section class="sect__content">
				<div class="container">

					<h2 class="title title-h2-size">Правила использования абонементов</h2>

					<div class="content-wrapper gutter-bottom subscription-content">
						

						<div class="content">
							<h3>Термины и определения</h3>
							<ul>
								<li>Клуб – клуб виртуальной реальности под брендом Virtuality Club, расположенный в Москве по адресу Проспект Андропова 22, ТРЦ Нора;</li>
								<li>Тариф – количество игровых часов Абонемента;</li>
								<li>Абонемент – договор оказания услуг на игру в Клубе в количестве игровых часов оплаченных по тарифу;</li>
								<li>Акт – акт подтверждающий факт выполненных услуг в указанном количестве игровых часов</li>
								<li>Вид абонемента – абонементы могут быть двух видов: 1) для игр в рабочие дни (с Пн. по Пт.); 2) Для игр в любой день в том числе выходной и праздничный;</li>
								<li>Карточка абонемента – пластиковая карта с номером и информацией о виде абонемента, выдаваемая клиенту после оплаты абонемента.</li>
							</ul>

							<h3>1. Общие правила</h3>
							<ul>
								<li>Игра в Клубе проводятся по предварительной записи;</li>
								<li>Клуб оставляет за собой право изменять время и период записи при предварительном согласовании с клиентом;</li>
								<li>Клуб обязан проинформировать клиентов о любых изменениях в расписании путём Рассылки уведомлений на Email либо лично при телефонном звонке;</li>
								<li>При нарушении Правил посещения клуба администрация оставляет за собой право аннулировать абонемент без возвращения денег;</li>
								<li>Администрация Клуба оставляет за собой право введения новых пунктов правил и изменения действующих;</li>
								<li>Клуб обязан проинформировать клиентов о любых изменениях пунктов правил, либо же добавлению новых путём рассылки уведомлений на Email, либо лично при телефонном звонке.</li>
							</ul>

							<h3>2. Порядок оплаты и оформления абонемента.</h3>

							<ul>
								<li>Абонементы могут быть приобретены и оформлены:
									<ul>
										<li>У администратора в Клубе. Администратор ознакомит с условиями абонементов и правилами посещения клуба;</li>
										<li>Через Интернет-магазин «Virtuality Club». Все условия по использованию абонементов и правилам посещения клуба будут представлены на страницах магазина и сайта Virtuality Club.</li>
									</ul>

								</li>
								<li>Для оформления абонемента клиенту необходимо указать e-mail и телефонный номер за которыми этот абонемент будет закреплен;</li>
								<li>При покупке абонемента клиент автоматически соглашается с правилами посещения клуба и правилами использования абонементов;</li>
								<li>Оплата абонементов производится в любое время работы Клуба или Интернет-магазина «Virtuality Club»;</li>
								<li>В случае утери абонемента необходимо сообщить об утере в Клуб, позвонив по номеру на сайте, отправив e-mail сообщение на почту hello@virtuality.club или сообщив лично Администратору в Клубе.</li>
							</ul>

							<h3>3. Абонемент: правила использования</h3>
							<ul>
								<li>Абонемент (договор) – документ, дающий право на игру в Клубе с фиксированным количеством часов, в зависимости от оплаченного тарифа (10 часов, 20 часов или 30 часов) в течение его периода действия;</li>
								<li>Абонемент оформляется персонально на Клиента, однако может быть передан и использован другими Лицами, если эти Лица будут иметь при себе абонемент (или знать номер абонемента) и смогут подтвердить на какой номер телефона и адрес электронной почты этот абонемент зарегистрирован;</li>
								<li>Процесс использования игровых часов каждого абонемента фиксируется в программе управления Клубом. После каждого посещения клиентом Клуба, с использованием абонемента, администратор клуба сообщает Клиенту о количестве оставшихся игровых часов (минут) в абонементе. Информацию о количестве оставшихся игровых часов (минут) абонемента Клиент может так же узнать обратившись в клуб лично, позвонив по номеру телефону на сайте или отправив электронное сообщение на почту <a href="#">hello@virtuality.club</a>.</li>
								<li>Карточка абонемента остаётся активной и после использования всех игровых часов абонемента с обязательным подтверждением данного факта в Акте. Для использования карточки абонемента в дальнейшем, необходимо оплатить любой тариф данного вида абонемента.</li>
								<li>Вид абонемента не может быть изменен. Чтобы воспользоваться другим видом абонемента, необходимо приобрести соответствующий абонемент.</li>
							</ul>

							<h3>4. Срок действия абонементов</h3>
							<ul>
								<li>Обязательства по Абонементам действительны один календарный год с момента оплаты Тарифа.</li>
							</ul>

							<h3>5. Возврат</h3>
							<ul>
								<li>Клиент не имеет право требовать возврат денежных средств в случае отказа от оплаченного Абонемента, согласно условиям Абонемента;</li>
								<li>Решение по возврату уже оплаченных денежных средств за Абонемент принимается Управляющим клуба на основе внутренних правил Клуба.</li>
							</ul>

						</div>

						<svg  viewBox="0 0 34 1695"  xmlns="http://www.w3.org/2000/svg" class="content-border" preserveAspectRatio="none">
							<path d="M33.5 263.5L1 238.5V247L33.5 272V263.5Z" fill="#2DA0D2" stroke="#2DA0D2"/>
							<path d="M1 1694.5V1327L33.5 1302V263.5L1 238.5V0" stroke="#2DA0D2"/>
						</svg>

					</div>
				</div>
				<!-- //container -->
			</section>


		</main>
		<!-- //Main -->


		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>