{% include '../parts/head.html' %}
<body class="page-content page-partners">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		{% include '../parts/components/menu/menu-inner.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">


			<section class="sect__partners-results gutter-top">
				<div class="container">
					<h2 class="text-center title title-h2-size">Результаты партнёрств</h2>

					<div class="trap"></div>

					<div class="partners-results-slider__wrapper">
						<div class="partners-results-slider">
							<div class="partners-result">
								<div class="row partners-result__row row-nowrap">
									<div class="partners-result__col">
										<h3 class="title partners-result__title">Название партнерства</h3>
									</div>
									<div class="partners-result__col text-center">
										<img src="img/partner-logo.png" alt="">
									</div>
								</div>

								<div class="row partners-result__row row-nowrap">
									<div class="partners-result__col">
										<div class="content">
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос страна раз свой, океана лучше даже то повстречался от всех дороге букв власти о, взобравшись безопасную. Если, это. Встретил обеспечивает эта дорогу если лучше взобравшись курсивных ведущими наш предупредила сих?</p>
											<p>Далеко-далеко за, словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос страна раз свой, океана лучше даже то повстречался от всех дороге букв власти о, взобравшись безопасную. Если, это. Встретил обеспечивает эта дорогу если лучше взобравшись курсивных ведущими наш предупредила сих?</p>
										</div>
									</div>
									<div class="partners-result__col text-center">
										<img src="img/partner-logo.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			

		</main>
		<!-- //Main -->


		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



		{% include '../parts/components/popups/popups.html' %}

		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>