<!-- Popup -->
<div class="popup js-popup js-popup-template">
	<div class="popup__overflow ">
		<div class="popup__body text-center">
			
			<div class="popup-outer">
				<div class="popup-inner">

					<!-- Close -->
					<button class="btn-close-simple js-close-popup-btn" type="button"><svg viewBox="0 0 36 36"  xmlns="http://www.w3.org/2000/svg"><path d="M35 35L1 0.999999"/><path d="M35 0.999997L1 35"/></svg></button>
					<!-- Close -->

					<div class="popup-content">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Popup -->