<!-- Popup -->
<div class="popup js-popup js-popup-order">
	<div class="popup__overflow js-custom-scroll">

		<div class="popup__body text-center">
			
			<div class="popup-inner">

				<!-- Close -->
				<button class="btn-close js-close-popup-btn" type="button">
					<svg  viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
						<line x1="1.35355" y1="0.646447" x2="13.3536" y2="12.6464" />
						<line y1="-0.5" x2="16.9706" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 13 1)" />
					</svg>
				</button>
				<!-- Close -->


				<div class="popup-content">
					<div class="order-controls">
						<button class="btn-tab js-order-tab-btn is-active" type="button">Записаться</button>
						<button class="btn-tab js-order-tab-btn" type="button">Консультация</button>
					</div>

					<div class="order-content">
						<div class="order-content__block js-order-tab-content">
							<form  class="order-form form">

								<div class="form-groups__row row align-horisontal-start">
									<div class="form-group col-w-33">
										<input type="text" name="name" class="form-input js-required-input is-error" placeholder="Введите имя">
										<span class="required-star">*</span>
									</div>
									<div class="form-group col-w-33">
										<input type="tel" name="tel" class="form-input js-required-input" placeholder="Введите телефон">
										<span class="required-star">*</span>
									</div>
									<div class="form-group col-w-33">
										<input type="email" name="email" class="form-input " placeholder="Введите email">
									</div>
								</div>

								<div class="order-form__services">

									<div class="row align-vertical-center row-nowrap form-radios__row align-horisontal-between ">
										
										<p class="form-label">Услуга</p>

										<div class="form-radios">
											<label  class="form-radio">
												<input type="radio" name="service" value="Игровой сеанс" checked>
												<span class="form-radio__item">Игровой сеанс</span>
											</label>

											<label  class="form-radio">
												<input type="radio" name="service" value="Аренда клуба">
												<span class="form-radio__item">Аренда клуба</span>
											</label>
										</div>


									</div>


									<div class="row align-vertical-center row-nowrap row-gutters form-time__row align-horisontal-between">
										<div class="form-row__col col-gutters">
											<div class="row align-horisontal-between row-nowrap align-vertical-start">
												<p class="form-label form-label__with-ic ic-calendar">Дата</p>

												<div class="form-group form-group__short">
													<input type="text" class="form-input form-input-ui js-input-date" name="date" placeholder="02/12/2021">
												</div>
											</div>
										</div>
										<div class="form-row__col col-gutters">
											<div class="row align-horisontal-between row-nowrap align-vertical-start">
												<p class="form-label">Время<br> посещения</p>

												<div class="form-group form-group__short">
													<select name="Время"  class="form-input form-select js-select">
														<option value="10:00" selected>10:00</option>
														<option value="11:00">11:00</option>
														<option value="12:00">13:00</option>
														<option value="13:00">13:00</option>
														<option value="14:00">14:00</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<div class="row form-ranges__row">
										<div class="form-range__group col-w-100">
											<div class="row align-vertical-center align-horisontal-between">
												<p class="form-label form-label__with-ic ic-time">Время игры</p>

												<input type="hidden" name="Время игры" class="js-duration-range-value">

												<div class="form-range">
													<div class="form-range__input js-duration-range"></div>
												</div>
											</div>
										</div>

										<div class="form-range__group col-w-100">
											<div class="row align-vertical-center align-horisontal-between">
												<p class="form-label form-label__with-ic ic-people">Количество человек</p>
												<input type="hidden" name="Кол-во человек" class="js-people-range-value">
												<div class="form-range">

													<div class="form-range__input js-people-range"></div>
												</div>
											</div>
										</div>
									</div>
								</div>



								<div class="form-checkboxes__row row align-vertical-center row-nowrap">
									<p class="form-label">Что предпочитаете?</p>

									<div class="form-checkboxes row-gutters">

										<div class="form-checkbox__col col-w-33 col-gutters">
											<label class="form-checkbox">
												<input type="checkbox" name="VR Арена">
												<span class="form-checkbox__item">VR Арена</span>
											</label>
										</div>

										<div class="form-checkbox__col col-w-33 col-gutters">
											<label class="form-checkbox">
												<input type="checkbox" name="VR Аркады">
												<span class="form-checkbox__item">VR Аркады</span>
											</label>
										</div>

										<div class="form-checkbox__col col-w-33 col-gutters">
											<label class="form-checkbox">
												<input type="checkbox" name=" VR Квесты">
												<span class="form-checkbox__item">VR Квесты</span>
											</label>
										</div>
									</div>
								</div>

								<div class="form-submit order-form__submit text-center">
									<button class="btn btn-sm" type="submit"><span>Отправить</span></button>
								</div>

							</form>
						</div>

						<div class="order-content__block js-order-tab-content">
							<form  class="order-form form">

								<div class="form-groups__row row align-horisontal-start">
									<div class="form-group col-w-33">
										<input type="text" name="name" class="form-input js-required-input is-error" placeholder="Введите имя">
										<span class="required-star">*</span>
									</div>
									<div class="form-group col-w-33">
										<input type="tel" name="tel" class="form-input js-required-input" placeholder="Введите телефон">
										<span class="required-star">*</span>
									</div>
									<div class="form-group col-w-33">
										<input type="email" name="email" class="form-input " placeholder="Введите email">
									</div>
								</div>


								<div class="form-submit order-form__submit text-center">
									<button class="btn btn-sm" type="submit"><span>Отправить</span></button>
								</div>

							</form>
						</div>


						
					</div>
				</div>
				
			</div>

		</div>

	</div>
</div>
<!-- //Popup -->