.header
	position fixed
	width 100%
	z-index 30
	padding 30px 0
	border-bottom 1px solid $accent-color
	min-height 105px
	
	.container
		max-width 100%
	
	
	&-tools
		flex 1
		&__nav
			flex 1
		&__contacts
			margin-left 65px
	
			.phone-link
				margin-left 20px