.header
	position fixed
	width 100%
	z-index 30
	padding 30px 0
	border-bottom 1px solid $accent-color
	min-height 105px
	transition background-color .15s ease-in-out
	.logo
		position relative
		z-index 1
	&:before
		pseudo()
		position absolute
		top 0
		left 0
		height 100%
		width 385px
		pointer-events none
		background-color $menu-aside-bg
		opacity 0
		visibility hidden
		transform translateX(-105%)
		transition all .23s ease-in-out
	&.is-opened
		background-color $menu-bg
		&:before
			opacity 1
			visibility visible
			transform translateX(0)
	
	.container
		max-width 100%
		
	&-logo
		width 255px
		margin-right 30px
		flex none
	
	
	&-tools
		flex 1
		flex-wrap nowrap
		
		&__nav
			flex 1
		&__contacts
			margin-left 65px
			white-space nowrap
			flex-wrap nowrap !important
	
			.phone-link
				margin-left 20px