.btn
	display inline-block
	font 20px $Bold
	line-height 1
	text-align center
	color $basic-white-color
	border 1px solid $accent-color
	transition all .17s ease-in-out
	backface-visibility hidden
	border-radius 100px
	padding 6px
	span
		display block
		width 100%
		height 100%
		background-color $accent-color
		border-radius 100px
		padding 30px 64px
		transition all .17s ease-in-out
	
	
	&:hover
		border-color $secondary-color
		span
			background-color $secondary-color
			
	&-default
		display inline-block
		text-align center
		border-radius 50px
		padding 17px 40px
		border 1px solid currentColor
		color $secondary-color
		font 18px $Bold
		line-height 1
		&:hover
			color $accent-color
		
	&-arrow
		display inline-block
		width 95px
		height 95px
		position relative
		&__prev
			transform scaleX(-1)
		&:before,
		&:after
			pseudo()
			background-repeat no-repeat
			background-position 50%
			background-size contain
			position absolute
			position-center()
		&:before
			width 100%
			height 100%
			background-image url('../img/decor/btn/outer.svg')
			animation rotate 20s linear infinite forwards
		&:after
			width 94.15%
			height 94.15%
			background-image url('../img/decor/btn/inner.svg')
			animation rotate 10s linear infinite forwards
			
		svg
			svg()
			width 16px
			height 28px
			fill $accent-color
			
			position absolute
			position-center()
		
		
	&-close
		display inline-block
		width 50px
		height 50px
		position relative	
		&:before
			pseudo()
			position absolute	
			position-center()
			width 100%
			height 100%
			background url('../img/decor/close/figure.svg') 50% no-repeat / contain
			animation rotate 10s linear infinite forwards
		svg
			svg()
			width 14px
			height 14px
			fill none
			stroke $accent-color
			position absolute	
			position-center()
		&:hover
			svg
				stroke $secondary-color
				
	&-close-fancy
		width 40px
		height 40px
		position absolute
		top 10px
		right 10px
		z-index 99
		display inline-block

		svg
			svg()
		
			stroke $secondary-color
			stroke-width 2px
		
	&-search
		&::-ms-clear
			display none 
			width 0
			height 0
		&::-ms-reveal
			display none 
			width 0
			height 0
		
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration
			display none
		
	&-top
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($basic-black-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $basic-black-color
			border-right 1px solid $basic-black-color
			transition all .23s ease-in-out
		&:hover
			background-color $basic-black-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

	&-hamburger
		display inline-block
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $accent-color
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&__line
			width 27px
			height 2px
			background-color $basic-black-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
					

	&-menu
		display inline-block
		position relative
		font 18px $Bold
		color $accent-color
		padding-right 30px
		text-transform uppercase
		margin-left 20px
		&__lines
			display flex
			flex-direction column
			justify-content space-between
			width 20px
			height 12px
			position absolute
			right 0
			vertical-center()
			
			
		&__line
			background-color $accent-color
			width 100%
			height 1px
			display block
	
			transition all 0.3s ease-in-out	
		
		&:hover
			color $text-color
			.btn-menu__line
				background-color $text-color
			
		&.is-active
			.btn-menu__line
				&:nth-child(1)
					transform translateY(5px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-6px) rotate(-45deg)
		