input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)


.search
	&-form
		width 100%
		transition all .17s ease-in-out
		opacity 0
		position relative
		z-index 2
		visibility hidden
		.btn-search
			z-index 4
		&.is-opened
			opacity 1
			visibility visible
		
		
		&__input
			display block
			width 100%
			height 42px
			border-radius 5px
			background-color rgba($accent-color, .08)
			padding 5px 45px 5px 5px
			font 16px $Reg
			border 1px solid transparent
			&:hover,
			&:focus
				border 1px solid $accent-color
		
	&-wrapper
		position relative
		width 100%
		max-width 370px
		display flex
		justify-content flex-end
		overflow hidden


		
		.btn-search
			position absolute
			vertical-center()
			right 10px
			




.form
	&-input
		display block
		width 100%
		padding 0 12px 10px 12px
		text-align left
		background-color transparent
		border-bottom 1px solid $accent-color
		font 16px $MBold
		color $accent-color
		&:hover,
		&:focus
			border-color $secondary-color
		&::-webkit-input-placeholder
			font 16px $MBold
			color $accent-color
		&::-moz-placeholder
			font 16px $MBold
			color $accent-color
		&:-moz-placeholder
			font 16px $MBold
			color $accent-color
		&:-ms-input-placeholder
			font 16px $MBold
			color $accent-color
			
		&.is-error
			border-color red
			&::-webkit-input-placeholder
				
				color red
			&::-moz-placeholder
				
				color red
			&:-moz-placeholder
				
				color red
			&:-ms-input-placeholder
				
				color red
				
			~ .required-star
				color red
				
		&-ui
			padding-left 0
			padding-right 0
			text-align center
			
	&-group
		position relative
		margin-bottom 10px
		&:last-child
			margin-bottom 0
			
		&__short
			width 100px
			input
				width 100%
			
	&-textarea
		min-height 200px
		&__sm
			min-height 50px
		

	&-label
		font 18px $Bold
		line-height 1
		color $secondary-color
		position relative
		width 100%
		max-width 150px
		
		&__full
			max-width none
		
		&__with-ic
			padding-left 30px
			&:before
				pseudo()
				position absolute
				vertical-center()
				left 0
				width 19px
				height 19px
				background-position 50%
				background-repeat no-repeat
				background-size contain
				margin-top 1px
				
	&-range
		flex 1
		margin-left 40px
		position relative
		height 20px
		display flex
		align-items center
		&__input
			width 100%
		
		&__group
			margin-bottom 40px
			&:last-child
				margin-bottom 0
			.form-label
				width 100%
				max-width 150px
				
		&__tooltip
			display inline-block
			position absolute
			font 14px $MBold
			color $accent-color
			bottom 100%
			margin-bottom 4px
			horisontal-center()
			height 20px
			white-space nowrap
				
.ic
	&-calendar
		&:before
			background-image url('../img/icons/svg/calendar.svg')
	&-time
		&:before
			background-image url('../img/icons/svg/clock.svg')
	&-people
		&:before
			background-image url('../img/icons/svg/user.svg')
	

.form-groups
	&__row
		margin-left -30px
		margin-right -30px
		
		.form-group
			padding-left 30px
			padding-right 30px
			padding-bottom 45px
			margin-bottom 0
			
			.required-star
				right 30px
			
.required-star
	display inline-block
	position absolute
	top -5px
	right 0
	pointer-events none
	font 24px $Bold
	color $accent-color
	line-height 1
	transition color .17s ease-in-out


.form
	&-checkboxes
		flex 1
		display flex
		align-items center
		justify-content flex-start
		margin-left 40px
		&__row
			margin-bottom 40px
		
	&-checkbox
		display inline-block
		&__item
			display inline-block
			position relative
			padding-left 34px
			font 18px $MBold
			color $accent-color
			transition color .17s ease-in-out
			&:before
				pseudo()
				position absolute
				vertical-center()
				left 0
				width 20px
				height 20px
				border 2px solid $accent-color
				border-radius 5px
			&:hover
				cursor pointer
				color $secondary-color
				
		input
			display none
			&:checked
				+ span:before
					background $accent-color url('../img/icons/svg/checkbox-ic.svg') 50% no-repeat / 12px 10px
							
.form
	&-radio
		display block
		
			
		&__item
			height 100%
			flex-col-center()
			text-align center
			text-align center
			font 18px $MBold
			border 1px solid transparent
			color $secondary-color
			border-radius 5px
			padding 14px 28px
			transition all .17s ease-in-out
			&:hover
				border-color $accent-color
				color $accent-color
				cursor pointer
				
		input
			display none
			&:checked
				+ span
					border-color $accent-color
					color $accent-color
					

.form-radios
	display flex
	flex-wrap nowrap
	padding-right 10px
	.form-radio
		margin-right 10px
		&:last-child
			margin-right 0


.form-radio-default
	input
		display none
	&__item
		display inline-block
		position relative
		font 18px $Bold
		color $text-color
		padding-left 45px
		&:before,
		&:after
			pseudo()
			position absolute
			border-radius 50%
		&:before
			width 25px
			height 25px
			border 1px solid $accent-color
			left 0
			vertical-center()
		&:after
			width 17px
			height 17px
			background-color $accent-color
			opacity 0
			transition opacity .17s ease-in-out
			vertical-center()
			left 4px
		&:hover
			cursor pointer
			
	input:checked + span
		&:after
			opacity 1