.svg-ic
	svg()
	fill $accent-color
	width 22px
	height 22px
	&:hover
		fill $text-color

.phone-link
	display inline-block
	font 18px $Bold
	color $accent-color
	padding-right 35px
	position relative
	line-height 1
	.svg-ic
		position absolute
		right 0
		vertical-center()
	&:hover
		color $text-color
		.svg-ic
			fill $text-color
			
// Tooltip
.tooltip
	position relative
	&-content
		position absolute
		top 100%
		horisontal-center()
		transition all .17s ease-in-out
		width 200px
		border-radius 10px
		background-color $color-bg 
		padding 10px
		font 16px $Bold
		box-shadow 5px 0 10px 10px rgba($basic-black-color, .05)
		
		opacity 0
		visibility hidden
		margin-top 20px
		&:before
			pseudo()
			position absolute	
			bottom 100%
			horisontal-center()
			width 0
			height 0
			border-style solid
			border-width 0 7.5px 10px 7.5px
			border-color transparent transparent $color-bg transparent
		&__title
			font-family $Med
			margin-bottom 5px
			
	&:hover
		cursor pointer
		.tooltip-content
			opacity 1
			visibility visible
			margin-top 12px
		
			
.worktime-tooltip
	position relative
	width 22px
	height 22px
	
	&:hover
		cursor pointer
		.svg-ic
			fill $text-color
	
			

// Video link
.video-ic
	position relative
	overflow hidden
	&:before
		pseudo()
		position absolute
		fullSize()
		z-index 1
		opacity 0
		background-color rgba($secondary-color, .25)
		transition opacity .17s ease-in-out
	&:after
		pseudo()
		position absolute
		position-center()
		z-index 2
		width 50px
		height 50px
		background url('../img/icons/svg/play.svg') 50% no-repeat / contain
	&:hover
		&:before
			opacity 1

.video-link
	display inline-block
	width 205px
	height 205px
	border-radius 50%
	position relative
	&:before,
	&:after
		pseudo()
		position absolute
		position-center()
		background-repeat no-repeat
		background-size contain
		background-position 50%
	
	&:before
		width 100%
		height 100%
		background-image url('../img/decor/video/outer.svg')
		animation rotate 20s linear infinite forwards
		
	&:after
		width 94.15%
		height 94.15%
		background-image url('../img/decor/video/inner.svg')
		animation rotate 10s linear infinite forwards
		
	&__sm
		width 170px
		height 170px
		&:before
			background-image url('../img/decor/video/outer-sm.svg')
		&:after
			background-image url('../img/decor/video/inner-sm.svg')
		
	&__poster
		display block
		width 71.7%
		height 71.7%
		border-radius 50%
		overflow hidden
		position absolute
		position-center()
		will-change transform
		transition transform .2s ease-in-out
		&:before
			pseudo()
			fullSize()
			position absolute
			background linear-gradient(90.87deg, rgba(3, 37, 90, 0.5) 0.74%, rgba(3, 37, 90, 0.25) 52.08%, rgba(3, 37, 90, 0.5) 99.32%)
		&:after
			pseudo()
			position absolute
			position-center()
			z-index 1
			width 20.4%
			height 20.4%
			background url('../img/icons/svg/play.svg') 50% no-repeat / contain
			
	&:hover
		.video-link__poster
			transform translate(-50%, -50%) scale(1.04, 1.04)
			
@keyframes rotate
	to
		transform translate(-50%, -50%) rotate(360deg)
		
@keyframes rotate-reverse	
	to
		transform translate(-50%, -50%) rotate(-360deg)
		

		

// permalink
.permalink
	display inline-block
	color $secondary-color
	font 16px $Reg
	position relative
	padding-right 15px
	svg
		svg()
		width 12px
		height 9px
		fill currentColor
		position absolute
		right 0
		vertical-center()
		transition margin .17s ease-in-out
	span
		display block
		border-bottom 1px solid currentColor
	&:hover
		color $accent-color
		svg
			margin-right -5px


.game-param
	display inline-block
	position relative
	font 20px $Reg
	color $secondary-color
	white-space nowrap
	padding-left 30px
	margin-right 10px
	&:last-child
		margin-right 0
	&:before
		pseudo()
		position absolute
		left 0
		vertical-center()
		background-repeat no-repeat
		background-size contain
		background-position 50%
		width 25px
		height 25px
		
	&__rating
		&:before
			background-image url('../img/icons/svg/rating.svg')
		&--light
			&:before
				background-image url('../img/icons/svg/rating-light.svg')
				
	&__quantity
		&:before
			background-image url('../img/icons/svg/age.svg')
		&--light
			&:before
				background-image url('../img/icons/svg/age-light.svg')
				
	&__playtime
		&:before
			background-image url('../img/icons/svg/playtime.svg')
		&--light
			&:before
				background-image url('../img/icons/svg/playtime-light.svg')
			
	&__light
		color $alternate-light-text-color
			
.game
	&__age
		flex-col-center()
		width 54px
		height 54px
		border-radius 50%
		border 1px solid currentColor
		color $secondary-color
		font 24px $Reg
		
	&__title
		font 30px $MBold
		line-height 32px
		text-transform uppercase
		margin-bottom 20px
		
	&__category
		font 22px $Bold
		line-height 26px
		margin-bottom 20px
		text-transform uppercase
		
	&__description
		font-size 14px
		line-height 17px
		margin-bottom 13px
		p
			margin-bottom 10px
			&:last-child
				margin-bottom 0
				
	&-params
		display flex
		flex-wrap nowrap
		margin-bottom 20px
		
//socials
.socials
	margin-top 17px
	white-space nowrap
	display flex
	justify-content space-between
	font-size 0
	flex-wrap nowrap
	li
		display inline-block
		margin-right 15px
		&:last-child
			margin-right 0
			
	a
		display inline-block
		svg
			svg()
			fill #747577
		&:hover
			svg
				fill $accent-color
				

// Scrols
.nicescroll-rails 
	border-radius 5px
	width 4px
	background-color #ADC9D6
	display flex
	
	
	.nicescroll-cursors
		float none
		margin 0 auto
		background-color $accent-color
		

.iScrollVerticalScrollbar
	width 4px !important
	border-radius 5px !important
	background-color #ADC9D6 !important
	.iScrollIndicator
		width 100% !important
		background $accent-color !important
		

// Fancybox
.fancybox 
	.fancybox-bg
		background $basic-black-color
	
	&-is-open 
		.fancybox-bg
			opacity .5

.fancybox-container		
	.fancybox-button
		display inline-block
		background none
		opacity 1
		width 30px
		height 30px
		padding 0
		color $alternate-light-text-color
		svg
			svg()
			
			path
				stroke $alternate-light-text-color
				stroke-width 2px
				
	.fancybox-navigation
		svg
			path
				stroke-width 0
				
	
			
.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar
	opacity 1 !important


// Ui

.ui-widget.ui-widget-content
	z-index 999 !important
	background-color #D7E8F1
	border-radius 5px
	border none
	padding 25px
	box-sizing border-box
	
.ui-datepicker 
	.ui-datepicker-header
		background transparent
		border-radius 0
		padding 0
		height 20px
		display flex
		align-items center
		justify-content center
		border none
		margin-bottom 20px

		
	.ui-datepicker-title
		font 14px $Bold
		color $accent-color

		
	.ui-datepicker-prev,
	.ui-datepicker-next
		width 20px
		height 20px
		vertical-center()
		
		span
			display none
			
		&:before
			pseudo()
			position absolute
			position-center()
			width 7px
			height 12px
			background-position 50%
			background-size contain
			background-repeat no-repeat
			
		&:hover
			border none
			background transparent
			margin 0
			cursor pointer
			
			
	.ui-datepicker-prev
		&:before
			background-image url('../img/icons/svg/date-arrow.svg')
	.ui-datepicker-next
		&:before
			background-image url('../img/icons/svg/date-arrow-next.svg')
			

	th
		color $accent-color
		font 14px $Bold
		
	td
		background none
		border none
		
		.ui-state-default
			border none
			background none
			font 14px $Reg
			color $accent-color
			flex-col-center()
			border-radius 50%
			width 26px
			height 26px
			&:hover
				color $secondary-color
			
		&.ui-datepicker-today
			.ui-state-highlight
				color $basic-white-color
				background-color $accent-color
				

.ui-selectmenu-menu
	z-index 999 !important
	
	.ui-menu
		padding 0
		border-radius 5px

	.ui-menu-item-wrapper
		padding 0
		
	.ui-menu-item-wrapper
		padding 10px
		font 16px $MBold
		color $accent-color	
		&.ui-state-active
			background $accent-color
			color $basic-white-color
			border none
			
.ui-selectmenu-button
	padding 0 0 10px 0
	&.ui-button
		width 100%
		display block
		background none
		border none
		box-shadow none
		color $accent-color
		font 16px $MBold
		padding-bottom 10px
		border-bottom 1px solid $accent-color
		border-radius 0
	&.ui-corner-top
		.ui-select-menu-icon
			transform translateY(-50%) rotate(-180deg)
	
	
.ui-select-menu-icon
	display inline-block
	
.ui-button 
	.ui-icon
		background url('../img/icons/svg/select-arrow.svg') 50% no-repeat / contain !important
		
	&:hover
		.ui-icon
			background url('../img/icons/svg/select-arrow.svg') 50% no-repeat / contain !important
			

		

.ui-front
	z-index 999 !important
	

.ui-slider
	&.form-range__input
		height 2px
		background-color $alternate-light-text-color
		border-radius 10px
		padding 0
		
	.ui-slider-range-min
		background-color $accent-color
		border-radius 10px
		
	.ui-slider-handle
		border 2px solid $accent-color
		border-radius 50%
		width 20px
		height 20px
		background-color $basic-white-color
		vertical-center()
		
		&.ui-state-focus
			border-color $accent-color