<section class="section sect__catalog ">
	<h2 class="w3c">Каталог игр</h2>
	<div class="section-content">
		<div class="container">

			<div class="catalog full-height ">

				<div class="catalog-categories">
					<div class="catalog-categories-slider js-catalog-games-categories-slider">


						<div class="catalog-category js-catalog-category-btn is-active" data-index="0">
							<h3 class="catalog-category__title">VR Квесты</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="1">
							<h3 class="catalog-category__title">VR Arena</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="2">
							<h3 class="catalog-category__title">VR Аркады</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="3">
							<h3 class="catalog-category__title">Шутеры</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="4">
							<h3 class="catalog-category__title">Симуляторы</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="5">
							<h3 class="catalog-category__title">Спорт</h3>
						</div>

						<div class="catalog-category js-catalog-category-btn is-active" data-index="0">
							<h3 class="catalog-category__title">VR Квесты</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="1">
							<h3 class="catalog-category__title">VR Arena</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="2">
							<h3 class="catalog-category__title">VR Аркады</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="3">
							<h3 class="catalog-category__title">Шутеры</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="4">
							<h3 class="catalog-category__title">Симуляторы</h3>
						</div>



						<div class="catalog-category js-catalog-category-btn" data-index="5">
							<h3 class="catalog-category__title">Спорт</h3>
						</div>

					</div>

					<!-- Controls -->
					<button class="btn-arrow-simple btn-arrow-simple__prev js-catalog-games-categories-slider-btn-prev" type="button">
						<svg  viewBox="0 0 12 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M2.65393 9.81978L10.881 1.59274C11.1654 1.30828 11.1654 0.847105 10.881 0.562646C10.5965 0.278272 10.1353 0.278272 9.85087 0.562646L1.10879 9.30473C0.824414 9.58919 0.824414 10.0504 1.10879 10.3348L9.85087 19.0769C10.1403 19.3564 10.6015 19.3484 10.881 19.059C11.1536 18.7767 11.1536 18.3291 10.881 18.0468L2.65393 9.81978Z" />
						</svg>

					</button>
					<button class="btn-arrow-simple btn-arrow-simple__next js-catalog-games-categories-slider-btn-next" type="button">
						<svg viewBox="0 0 12 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M9.34607 9.81978L1.11903 1.59274C0.834613 1.30828 0.834613 0.847105 1.11903 0.562646C1.40353 0.278272 1.86467 0.278272 2.14913 0.562646L10.8912 9.30473C11.1756 9.58919 11.1756 10.0504 10.8912 10.3348L2.14913 19.0769C1.85972 19.3564 1.39854 19.3484 1.11903 19.059C0.846394 18.7767 0.846394 18.3291 1.11903 18.0468L9.34607 9.81978Z" />
						</svg>

					</button>
					<!-- //Controls -->

				</div>

				<div class="catalog-games">
					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider slider js-catalog-games-block" data-index="0">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->

					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider slider js-catalog-games-block" data-index="1">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->

					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider slider js-catalog-games-block" data-index="2">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->

					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider  slider js-catalog-games-block" data-index="3">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->


						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->

					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider slider js-catalog-games-block" data-index="4">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->


						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->

					<!-- GAMES BLOCK -->
					<div class="catalog-games__slider slider js-catalog-games-block" data-index="5">

						<div class="catalog-slider js-catalog-games-slider">

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->

							<!-- Slide -->
							{% include '../components/sliders/catalog/slide.html' %}
							<!-- //Slide -->
						</div>


						<!-- Controls -->
						{% include '../components/sliders/catalog/controls.html' %}
						<!-- //Controls -->
					</div>
					<!-- //GAMES BLOCK -->


				</div>

			</div>
		</div>
		<!-- //container -->

	</div>
</section>