<section class="section section-center sect__feedbacks gutter-bottom">
	<div class="section-content">
		<div class="container">
			<div class="sect-header row align-horisontal-start align-vertical-center row-nowrap">
				<h2 class="title title-h2-size">Эмоции от виртуальной реальности</h2>

				<div class="slider-controls">
					<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-feedbacks-slider-btn-prev " type="button">

						<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
						</svg>

					</button>

					<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-feedbacks-slider-btn-next " type="button">
						<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
							<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
						</svg>
					</button>
				</div>
			</div>

			<div class="feedbacks-slider__wrapper slider">

				<div class="feedbacks-slider js-feedbacks-slider">

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="feedback-slide">
						<div class="feedback-slide__header">
							<span class="feedback-slide__src">
								<img src="img/google.svg" alt="">
							</span>
							<div class="feedback-slide__link-wrapper">
								<a href="#" target="_blank" rel="nofollow" class="feedback-slide__link"><span>Перейти</span></a>
							</div>

						</div>
						<div class="feedback-slide__content">
							<div class="feedback-slide__author">
								<div class="feedback-slide__author-information">
									<span class="feedback-slide__author-information_photo bg" style="background-image: url('img/avatar.png');"></span>
									<h3 class="feedback-slide__author-information_name">Анастасия </h3>
								</div>
								<span class="feedback-slide__author-stars">5</span>
							</div>

							<div class="feedback-slide__text">
								<p>Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤ Lorem ipsum 😱 dolor sit amet, consectetur adipiscing elit 👊❤</p>
							</div>

							<div class="feedback-slide__gallery">
								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

								<div class="feedback-slide__gallery--item">
									<a href="img/subscr.jpg" data-fancybox="feedback" class="feedback-slide__gallery--item_link thumbnail">
										<img src="img/subscr.jpg" alt="">
									</a>
								</div>

							</div>
						</div>
					</div>
					<!-- //Slide -->

				</div>


				<!-- Controls -->
				<button class="btn-arrow btn-arrow__sm  btn-arrow__prev js-feedbacks-slider-btn-prev " type="button">

					<svg  viewBox="0 0 16 28" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.95612 13.9676L14.9802 1.94347C15.3959 1.52772 15.3959 0.853686 14.9802 0.437938C14.5644 0.0223149 13.8905 0.0223149 13.4747 0.437938L0.697826 13.2148C0.282203 13.6306 0.282203 14.3046 0.697826 14.7204L13.4747 27.4973C13.8977 27.9058 14.5717 27.894 14.9802 27.471C15.3787 27.0584 15.3787 26.4043 14.9802 25.9917L2.95612 13.9676Z"/>
					</svg>

				</button>

				<button class="btn-arrow btn-arrow__sm  btn-arrow__next js-feedbacks-slider-btn-next " type="button">
					<svg  viewBox="0 0 16 28"  xmlns="http://www.w3.org/2000/svg">
						<path d="M13.0439 13.9674L1.01975 1.94322C0.604068 1.52747 0.604068 0.853442 1.01975 0.437694C1.43556 0.0220707 2.10953 0.0220707 2.52528 0.437694L15.3022 13.2146C15.7178 13.6303 15.7178 14.3044 15.3022 14.7201L2.52528 27.497C2.1023 27.9055 1.42826 27.8938 1.01975 27.4708C0.621286 27.0582 0.621286 26.404 1.01975 25.9915L13.0439 13.9674Z" />
					</svg>
				</button>
				<!-- //Controls -->
			</div>

			<div class="feedbacks-btn text-center">
				<a href="#" class="btn-default">Оставить свой озыв</a>
			</div>
		</div>
		<!-- //container -->
	</div>


</section>