<section class="section sect__contacts color-bg">
	<h2 class="w3c">Контакты</h2>

	<div class="section-content ">

		<div class="container sect-gutter-top">
			<div class="contacts-addresses__wrapper">
				<div class="contacts-addresses js-contacts-addresses">
					<div class="contacts-addresses__current">
						<h3 class="contacts-addresses__current--title">Клубы в Москве</h3>
						<svg  viewBox="0 0 30 18"  xmlns="http://www.w3.org/2000/svg">
							<path d="M14.9935 13.0894L26.803 0.974574L26.8031 0.974547C27.42 0.341747 28.4256 0.341747 29.0426 0.974547L29.0427 0.974655C29.6524 1.60045 29.6525 2.60966 29.0427 3.23542L29.0426 3.23548L16.1133 16.4991L16.1132 16.4991C15.4963 17.1318 14.4907 17.1318 13.8738 16.4991L13.8737 16.4991L0.944399 3.23548L0.944346 3.23553L0.938383 3.2292C0.339396 2.59295 0.356087 1.58361 0.977043 0.968396L0.977062 0.968376C1.58947 0.361694 2.56545 0.361656 3.17784 0.968402L3.17789 0.968349L3.18396 0.974574L14.9935 13.0894Z"/>
						</svg>
					</div>
					<div class="contacts-addresses__dropdown js-contacts-addresses-dropdown">
						<ul>
							<li data-address="Клубы в Санкт-Петербурге">Клубы в Санкт-Петербурге</li>
							<li data-address="Клубы в Самаре">Клубы в Самаре</li>
							<li data-address="Клубы в Казани">Клубы в Казани</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="contacts">
				<div class="contacts-block">
					<div class="contacts-block__content">
						<div class="contacts-block__map--col">
							<div class="contacts-block__map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.369369194697!2d37.6593222017117!3d55.68256573043912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab4a3949288ab%3A0x48d2516d4ef17d58!2sVirtuality%20Club!5e0!3m2!1sru!2sua!4v1638529291429!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
							<div class="contacts-block__gallery row-gutters">
								<div class="contacts-block__gallery--item  col-gutters">
									<a href="img/gallery/1.jpg" class="thumbnail" data-fancybox="address-1">
										<img src="img/gallery/1.jpg" alt="">
									</a>
								</div>
								<div class="contacts-block__gallery--item  col-gutters">
									<a href="img/gallery/2.jpg" class="thumbnail" data-fancybox="address-1">
										<img src="img/gallery/2.jpg" alt="">
									</a>
								</div>
							</div>
						</div>
						<!-- //map col -->

						<div class="contacts-block__addresses ">
							<div class="contacts-block__addresses--item js-contacts-block-addresses">
								<div class="contacts-block__address">
									<div class="contacts-block__address--value" data-club-img-1="img/gallery/1.jpg" data-club-img-2="img/gallery/2.jpg" data-club-img-3="img/gallery/3.jpg" data-club-img-4="img/gallery/4.jpg">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>

									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>
										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

								<div class="contacts-block__address">
									<div class="contacts-block__address--value" data-club-img-1="img/gallery/1.jpg" data-club-img-2="img/gallery/2.jpg">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>
									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>

										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

								<div class="contacts-block__address">
									<div class="contacts-block__address--value">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>
									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>

										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

								<div class="contacts-block__address">
									<div class="contacts-block__address--value">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>
									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>

										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->
							</div>

							<div class="contacts-block__addresses--item js-contacts-block-addresses">
								<div class="contacts-block__address">
									<div class="contacts-block__address--value" data-club-img-1="img/gallery/1.jpg" data-club-img-2="img/gallery/2.jpg" data-club-img-3="img/gallery/3.jpg" data-club-img-4="img/gallery/4.jpg">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>

									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>
										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

								<div class="contacts-block__address">
									<div class="contacts-block__address--value" data-club-img-1="img/gallery/1.jpg" data-club-img-2="img/gallery/2.jpg">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>
									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>

										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

							</div>

							<div class="contacts-block__addresses--item js-contacts-block-addresses">
								<div class="contacts-block__address">
									<div class="contacts-block__address--value" data-club-img-1="img/gallery/1.jpg" data-club-img-2="img/gallery/2.jpg" data-club-img-3="img/gallery/3.jpg" data-club-img-4="img/gallery/4.jpg">
										<h4 class="contacts-block__address--value_title">Проспект Андропова <b>22</b>, ТРЦ "Нора", <b>3</b>-ий этаж</h4>
										<svg  viewBox="0 0 23 13" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.857 10.4759L21.537 0.795908C21.8717 0.461261 22.4144 0.461261 22.7491 0.795908C23.0836 1.13066 23.0836 1.67324 22.7491 2.00793L12.463 12.294C12.1283 12.6286 11.5857 12.6286 11.251 12.294L0.964945 2.00793C0.636072 1.66741 0.645516 1.12478 0.98604 0.795908C1.31823 0.475122 1.84483 0.475122 2.17697 0.795908L11.857 10.4759Z"/>
										</svg>

									</div>
									<div class="contacts-block__address--information">
										<ul class="contacts-block__address--information_list">
											<li class="ic ic-time">Ежедневно с 10:00 до 22:00</li>
											<li class="ic ic-phone"><a href="tel:8 (499) 112 44 65">8 (499) 112 44 65</a></li>
											<li class="ic ic-square">350 м²</li>
											<li class="ic ic-hash">На этой площадке можно поиграть поиграть в игры формата КУБ. </li>
										</ul>
										<div class="text-center">
											<button class="btn btn-sm js-open-popup-order-btn" type="button"><span>Заказать</span></button>
										</div>
									</div>
								</div>
								<!-- //address block -->

							</div>
						</div>
						<!-- //addresses -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->

	</div>

</section>