<div class="catalog-game-card">
	<div class="catalog-game-card__content">
		<div class="catalog-game-card__thumbnail thumbnail">
			<img src="img/catalog/mini-1.png" alt="">

			<div class="catalog-game-card__params">
				<span class="game-param game-param__quantity game-param__light game-param__quantity--light">2-4</span>

				<span class="game__age">10+</span>
			</div>
		</div>

		<h4 class="catalog-game-card__title">Doom 3 VR Edition</h4>
	</div>

	<div class="catalog-game-card__details">
		<div class="catalog-game-card__details--inner popup-inner"></div>
	</div>
</div>