// ========== ========== G L O B A L   S T Y L E S ========== ==========
html
	text-size-adjust none
	box-sizing border-box
	&.is-fixed
		overflow hidden
	
*
	padding 0
	margin 0
	box-sizing inherit
	&:after,
	&:before
		box-sizing inherit
		
html,
body
	&.overflowed
		height auto !important
		overflow-y auto !important
		



body
	font $body-font-size $body-font-family
	line-height $body-line-height
	overflow-x hidden
	min-width 320px
	height 100%
	opacity 1
	position relative
	color $text-color
	background radial-gradient(67.9% 130.5% at 67.9% 59.35%, rgba(255, 255, 255, 0.5) 7.11%, rgba(242, 240, 245, 0.5) 48.96%, rgba(233, 229, 237, 0.5) 75.51%, rgba(239, 224, 228, 0.5) 100%)

h1,h2,h3,h4,h5,h6,ul,li
	margin 0
	padding 0

input,
textarea
	outline none
	background transparent
	border none
	box-shadow none
	transition all .17s ease-in-out
	&:focus
		outline none
		
textarea
	resize vertical
	width 100%
	
select
	appearance none
	-webkit-appearance none
	-moz-appearance none
	transition all .17s ease-in-out
	cursor pointer
	&:focus
		outline none

a
	text-decoration none
	outline none
	transition all .17s ease-in-out
	&:hover
		text-decoration none
		
button
	box-shadow none
	border none
	outline none
	cursor pointer
	transition all .17s ease-in-out
	background transparent
	&:focus
		outline none

img
	width 100%
	height auto


// section
// 	padding-top 120px
section
	overflow hidden
	// &.section
	// 	padding-bottom 50px