.section-content
	height 100%
	padding-top 105px
	

	
.fp-tableCell
	display block !important
	
.section-center
	.section-content
		display flex
		align-items center
		justify-content center
		flex-direction column
		flex-wrap nowrap
	
.sect-header
	.slider-controls
		display none


		
.promo-slider
	height 100%
	
	.slick-active,
	.slick-current
		.promo-slide
			opacity 1
			visibility visible
	
.promo-slide
	position relative
	padding-top 165px
	height 100vh
	transition all .23s ease-in-out
	// opacity 0
	// visibility hidden
	overflow hidden
	.container
		position relative
		height 100%
	

	.btn-arrow
		vertical-center()
		right 130px
		z-index 3
		position absolute	

	&__content
		position relative
		z-index 2
		
	&__text
		position relative
		
		.subtitle
			margin-top 15px
			
	.video-link
		margin-top 40px
		
	&__row
		&.align-horisontal-between
			.promo-slide__text
				order 2
				text-align right
				max-width 420px
			.video-link
				margin-top 0
				order 1
		
	&__img
		position absolute
		horisontal-center()
		top 0
		bottom 0
		width 100%
		
		img
			display block
			width auto
			height 100%
			position relative
			horisontal-center()
			
		
		.btn
			position absolute
			z-index 5
			bottom 6%
			left 130px
			
		.decor-circles
			z-index -1
			top 0
			horisontal-center()
			
			
	&__right-offset
		.promo-slide__img
			margin-left 100px
			
		.video-link
			margin-left 70px
			
		.btn
			margin-left -100px
			bottom 12%

.decor-circles
	display block
	width 530px
	height 530px
	background url('../img/decor/promo/figure.svg') no-repeat 50% / contain
	position absolute
	animation rotate-center 25s linear infinite forwards
				
@keyframes rotate-center
	to
		transform translateX(-50%) rotate(-360deg)
		
// Advantages
.full-height
	height calc(100vh - 105px)
	
.sect__advantages
	.container
		padding-right 0
		height 100%
			
.advantages
	&__row
		height 100%
	&-content
		padding-top 75px
		padding-right 30px
		&__text
			max-width 700px
		
	&-text
		flex 1
		background-position left center
		display flex
		align-items flex-end
		padding 0 95px 140px 140px
		font 20px $Bold
		line-height 24px
		color #F4F2F5
		position relative
		svg
			display block
			position absolute
			width 53px
			height 100%
			top 0
			left -10px
			stroke $accent-color
			fill none
		// &:before
		// 	pseudo()
		// 	position absolute
		// 	top 0
		// 	bottom 0
		// 	width 53px
		// 	background url('../img/decor/advantages-decor.svg') 50% no-repeat / 100% auto
		// 	left -10px
		
	

.advantages-items
	position relative
	width 610px
	height 500px
	
.advantage-item
	position absolute
	font 14px $Bold
	line-height 17px
	width 200px
	height 200px
	flex-col-center()
	color #8EC8E1
	&__inner
		width 82.5%
		height 82.5%
		outline 1px solid red
	&:nth-child(1)
		left 0
		top 100px
		width 160px
		height 160px
		.advantage-item__ic
			width 40px
			height 40px
			
	&:nth-child(2)
		right 0
		top 50px
	&:nth-child(3)
		top 150px
		right 190px
		
	&:nth-child(4)
		bottom 0
		left 0
	&:nth-child(5)
		right 0
		bottom 40px
		
	p
		max-width 120px
		
	&__ic
		background-position 50%
		background-repeat no-repeat
		background-size contain
		width 55px
		height 55px
		display block
		margin 0 auto 10px auto
	&__inner
		border-radius 50%
		overflow hidden
		flex-col-center()
		position relative
		// width 165px
		// height 165px
		&:after
			pseudo()
			position absolute
			position-center()
			width 100%
			height 100%
			background-repeat no-repeat
			background-size contain
			background-position 50%
			animation rotate 20s linear infinite forwards
			
		&:before
			pseudo()
			position absolute
			fullSize()
			background-color rgba(5, 9, 30, 0.3)
			filter blur(1px)
	

// Sect includes
.includes-wrapper
	position relative
	display flex
	flex-direction column
	.title
		flex none
	
.includes
	&__row
		width 100%
		flex 1
		height 100%
		//padding-left 130px
		padding-right 130px
		z-index 1
	&-img
		flex none
		//max-width 505px
		height 100%
		//max-height 744px
		display flex
		align-items flex-end
		position relative	
		
		.decor-circles
			position absolute	
			z-index -1
			top -100px
			right -240px
		img
			display block
			height 100%
			width auto
			//max-width 505px
			//max-height 744px
			
// How to play

.how-to-play
	display flex
	flex-direction column
	height 100%
	&__imgs
		position relative
		width 100%
		max-width 1100px
		margin 40px auto 0
		flex 1
		padding-bottom 50px
		
	&__scheme
		height 577px
		width 577px
		display block
		position relative
		.btn-skew
			position absolute
			bottom -35px
			left 152px
		img
			width auto
			height 100%
			display block

	&__dude
		position absolute
		top 0
		height 100%
		left 577px
		img
			display block
			width auto
			height 100%
		

// top games
.top-games__title
	.slider-controls
		display none
.top-games__wrapper
	display flex
	flex-direction column
	padding-bottom 50px
	

	.top-games__slider
		flex 1
		
		
		.top-game
			height 100%
			
// catalog
.catalog
	display flex
	flex-direction column
	padding-top 55px
	
	&-games
		flex 1
		padding-bottom 50px
		
	
		
	&-categories
		flex none
		margin-bottom 15px


// Gallery
.sect__gallery
	position relative
	&:before
		pseudo()
		position absolute
		z-index 1
		bottom 0
		left 0
		width 100%
		height 300px
		background linear-gradient(180deg, rgba(3, 37, 90, 0) 0%, rgba(3, 37, 90, 0.8) 100%)
	&:after
		pseudo()
		position absolute
		bottom 0
		top 105px
		width 80px
		background-color rgba(#04122A,.8)
		z-index 3
		left 0
	.container
		padding-bottom 5%
		position relative
		z-index 4
		
	.video-link
		flex none
		
	.sect-header
		position absolute
		top 70px
		max-width 450px
		z-index 6
		
		
.gallery-btn
	flex 1
	margin-left 145px
	margin-right 145px
		
.gallery__row
	width 100%
	
// Stock
.sect__stocks
	.title
		margin-bottom 40px
		
.stocks-slider__title
	.slider-controls
		display none
		
.stock
	margin-bottom 30px
	border-radius 5px
	padding 30px
	min-height 180px
	display flex !important
	align-items center
	&__row
		width 100%
	&__title
		width 220px
		text-align center
		color $secondary-color
		font 27px $MBold
	&-content
		flex 1
		padding-left 40px
		position relative
		&__row
			flex-wrap nowrap
		&:before
			pseudo()
			position absolute
			vertical-center()
			left 0
			height 100px
			width 2px
			background-color rgba($secondary-color, .1)
			
		&__text
			margin-right 30px
			color $secondary-color
			font 14px $Bold
			line-height 17px
			max-width 240px
			p
				margin-bottom 10px
			
	&-discount
		display inline-block
		margin-right 20px
		color $accent-color
		font 36px $MBold
	&:last-child
		margin-bottom 0
		
	&-details
		&__gallery
			margin-left -10px
			margin-right -10px
			margin-bottom 30px
			display flex
			flex-wrap wrap
			justify-content flex-start
			&--item
				width 25%
				padding 0 10px 10px
				.thumbnail
					border-radius 5px
					display block
					width 100%
					padding-top 65%
		
// Sertificates
.sertificates
	padding-bottom 50px
	height 100%
	display flex
	flex-direction column
	
	&__header
		font 18px $Bold
		line-height 21px
		margin-bottom 35px
		flex none
		
		.title
			margin-bottom 20px
			
// Subscr
.sect__subscription
	.title
		margin-bottom 20px
		flex 0
		
.subscription
	padding-bottom 50px
	display flex
	flex-direction column
	height 100%

// simple sections

	
.simple-sections
	height auto 
	

	
	section
		overflow visible
		

		
	.title
		margin-bottom 15px
		
.sect__faq,
.sect__feedbacks
	.title
		margin-bottom 40px
		
.feedbacks-btn
	margin-top 50px
	

// Contacts
.sect__contacts
	padding-bottom 50px
	
.contacts-addresses
	width fit-content
	margin 0 auto
	position relative	
	&.is-active
		.contacts-addresses
			&__dropdown
				opacity 1
				visibility visible
				margin-top 5px
			&__current
				svg
					transform translateY(-50%) rotate(-180deg)
					
	&__wrapper
		margin-bottom 30px
		width calc(100% - 475px)
		
	&__current
		position relative	
		padding-right 85px
		svg
			svg()
			fill none
			width 30px
			height 18px
			stroke $secondary-color
			fill $secondary-color
			position absolute	
			right 0
			vertical-center()
			margin-top 	2px
		&--title
			color $secondary-color
			font 44px $MBold
			line-height 1
		&:hover
			cursor pointer
			
	&__dropdown
		position absolute	
		top 100%
		border-radius 5px
		horisontal-center()
		z-index 5
		background-color #D7E8F1
		width 100%
		overflow hidden
		transition all .17s ease-in-out
		opacity 0
		visibility hidden
		margin-top 20px
		
		li
			display block
			padding 10px
			font 16px $MBold
			color $accent-color	
			transition all .17s ease-in-out
			&:hover
				cursor pointer
				color $basic-white-color
				background-color $accent-color
				

.contacts-block
	&__content
		display flex
		flex-wrap nowrap
		
	&__map
		&--col
			flex 1
			
	&__addresses
		width 475px
		padding-left 55px
		> div
			height 100%
			max-height 625px
			overflow-y auto
			padding-right 15px
		
	&__address
		margin-bottom 55px
		&.is-active
			.contacts-block__address--value
				svg
					transform rotate(-180deg)
		&:hover
			cursor pointer
		&:last-child
			margin-bottom 0
			
		&--value
			display flex
			flex-wrap nowrap
			align-items flex-start
			svg
				svg()
				width 23px
				height 13px
				fill currentColor
				margin-top 6px
			&_title
				position relative
				font 26px $MBold
				line-height 28px
				padding-left 20px
				flex 1
				margin-right 30px
				
				

				&:before
					pseudo()
					position absolute
					top 11px
					left 0
					width 8px
					height 8px
					border-radius 50%
					background-color currentColor
					
		&--information
			padding-left 20px
			padding-top 35px
			display none
			
			&_list
				margin-bottom 50px
				font 14px $Bold
				
				li
					margin-bottom 20px
					a
						color inherit
						&:hover
							color $accent-color
					&:last-child
						margin-bottom 0
		


			
.contacts-block__map
	flex 1
	position relative
	padding-top 40%
	iframe
		display block
		width 100%
		height 100%
		position absolute
		position-center()
	&--col
		display flex
		flex-direction column
		

.contacts-block__gallery
	display flex
	flex-wrap wrap
	justify-content flex-start
	margin-top 30px
	&--item
		width 25%
		.thumbnail
			display block
			border-radius 5px
			

.contacts-block__addresses--item:not(:first-child)
	display none