
<div class="menu-content">
	<!-- Close menu btn -->
	<button class="btn-close js-close-menu-btn" type="button">
		<svg  viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
			<line x1="1.35355" y1="0.646447" x2="13.3536" y2="12.6464" />
			<line y1="-0.5" x2="16.9706" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 13 1)" />
		</svg>

	</button>
	<!-- //Close menu btn -->

	<nav class="menu-categories">
		<ul>
			<li>
				<a href="#">
					<span>О Клубе</span>
					<img src="img/categories/1.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Цены</span>
					<img src="img/categories/2.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Услуги</span>
					<img src="img/categories/3.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Акции</span>
					<img src="img/categories/4.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Абонементы</span>
					<img src="img/categories/5.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Подарочные сертификаты</span>
					<img src="img/categories/6.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<span>Правила клуба</span>
					<img src="img/categories/1.jpg" alt="">
				</a>
			</li>
			<li class="has-sublist">
				<a href="#">Аренда</a>

				<ul>
					<li><a href="#">Аренда клуба на мероприятие </a></li>
					<li><a href="#">Аренда клуба на детский праздник</a></li>
					<li><a href="#">Аренда оборудования на дом</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>