<div class="menu-wrapper js-menu js-custom-scroll">
	<div class="menu">

		<div class="menu-aside">

			<div class="menu-aside__content">
				<!-- 	<p class="menu-aside__title">Vr Клуб</p> -->

				<nav class="menu-aside__list">
					<ul>
						<li><a href="#">Магазин</a></li>
						<li><a href="#" class="is-active">VR Клуб</a></li>
						<li><a href="#">Сервис</a></li>
						<li><a href="#">VR бизнес</a></li>
					</ul>
				</nav>
			</div>


			<div class="decor-circles"></div>
		</div>

		{% include 'menu-content.html' %}

	</div>
</div>
