<div class="menu-wrapper js-menu js-custom-scroll">
	<div class="menu">

		<div class="menu-aside">

			<div class="menu-aside__content">
				<p class="menu-aside__title">Vr Клуб</p>

				<nav class="menu-main__list">
					<ul>
						<li class="menu-item-divider"><a href="#" class="is-active">VR Клуб</a></li>
						<li class="menu-item-divider menu-item-divider__md"><a href="#">VR Аркады</a></li>
						<li class="menu-item-divider menu-item-divider__md"><a href="#">VR Квесты</a></li>
						<li><a href="#">VR Симуляторы</a></li>
						<li class="menu-item-divider menu-item-divider__sm"><a href="#">VR Академия</a></li>
						<li class="menu-item-divider menu-item-divider__sm"><a href="#">VR Кинотеатр</a></li>
						<li><a href="#">Скидки и Акции</a></li>
						<li><a href="#">Сертификаты</a></li>
						<li><a href="#">Партнерство</a></li>
						<li><a href="#">Компания</a></li>
					</ul>
				</nav>

				<nav class="menu-aside__list">
					<ul>
						<li><a href="#">Магазин</a></li>
						<li><a href="#" class="is-active">VR Клуб</a></li>
						<li><a href="#">Сервис</a></li>
						<li><a href="#">VR бизнес</a></li>
					</ul>
				</nav>
			</div>


			<div class="decor-circles"></div>
		</div>

		{% include 'menu-content.html' %}

	</div>
</div>
