<div class="subscription-type b-radius-5">
	<div class="subscription-type__inner">
		<div class="subscription-slide__img thumbnail text-center">
			<img src="img/subscr.jpg" alt="">
			<h2>Заголовок</h2>
		</div>
		<div class="subscription-type__content">
			<div class="row align-horisontal-between subscription-type__info">
				<span>Work-Week абонемент</span>
				<span class="subscription-type__term">10 часов</span>
			</div>
			<p class="subscription-type__price text-center">11000 руб</p>
			<div class="subscription-type__btns">
				<button class="subscription-type__btn" type="button">Купить</button>
				<button class="subscription-type__btn" type="button" data-hover-direction="is-right">Подробнее</button>
			</div>
		</div>
	</div>
</div>