// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen-height(700px)
	// .promo-slide
	// 	padding-top 75px
	// 	&__img
	// 		&:before
	// 			width 450px
	// 			height 450px
		
	// .section-content
	// 	padding-top 75px
		
	// .sect__advantages
	// 	.section-content
	// 		padding-top 105px
			
	// .sect-gutter-top
	// 	padding-top 15px
		
	// .advantages-content
	// 	padding-top 15px
		
	// Page nav
	.page-nav
		padding-bottom 50px
		left 10px
		&:before
			height 25px
		&__item
			margin-bottom 10px
			
+max-screen(2200px)
	// CAtalog
	.catalog-game-card__thumbnail
		width 200px
		
	.subscription-slide__img p
		font-size 22px
		line-height 26px
		left auto
		right auto
		bottom 0
		padding 0 10px 10px 10px
		
	.gutter-bottom
		padding-bottom 50px
		
+max-screen(1920px)
	// Menu
	.menu-categories
		> ul
			
			li
				width 20%
	
+max-screen(1919px)			
	body
		font-size 14px
		line-height 17px
		
	.page-nav
		left 10px
		
	.section-content
		padding-top 75px
		
	.sect-gutter-top
		padding-top 30px
		
	.full-height
		height calc(100vh - 75px)
		
	.menu-aside
		padding-top 120px
		width 280px
		padding-left 30px
		
		
	.menu-content
		padding-top 120px
		padding-right 60px
		padding-left 60px
		
		.btn-close
			top 120px
			right 10px
			

			
	.menu-categories
		> ul 
			margin-left -15px
			margin-right -15px
			li
				padding-left 15px
				padding-right 15px
				
	// Header
	.header
		padding 15px 0
		min-height 75px
		&:before
			width 280px
		.container
			padding-left 30px
			padding-right 30px
			
	.section-content
		padding-top 75px
		
	// Top games
	.top-game
		&__content
			width 55%
		&__poster
			width 45%
			
	.btn-arrow
		width 40px
		height 40px
		svg
			width 10px
			
	// Catalog
	.catalog-category__title
		font-size 20px
		
	.catalog-game-card__thumbnail
		width 190px
		
	.catalog-games__slider
		padding-left 60px
		padding-right 60px
		
	// Stock
	.stock
		min-height 160px
		
	// subscription
	.subscription-slide__img p
		font-size 22px
		line-height 26px
		
	.subscription-slide__title
		font-size 18px
		margin-bottom 10px
		
	// Faq
	.faq-slide__content
		height 170px
		
	.feedback-slide__content
		padding 10px
		
	.feedback-slide__text
		font-size 12px
		
	// Contacts
	.contacts-addresses__current
		&--title
			font-size 32px
		svg
			width 22px
			height 15px
			
	.contacts-block__address--value_title
		font-size 20px
		
	.contacts-block__address
		margin-bottom 30px
		
	.contacts-block__addresses
		width 440px
		padding-left 35px
		
	.contacts-addresses__wrapper
		margin-bottom 15px
		
	.contacts-block__gallery
		justify-content center
		
	.contacts-block__addresses>div
		max-height 320px
		
				
+max-screen(1660px)
	.btn
		font-size 16px
		span
			padding 15px 40px
			
	.slider-controls 
		height 40px
		width 100px
		.btn-arrow
			width 40px
			height 40px
			svg
				width 8px
				
	.slider
		padding-left 60px
		padding-right 60px
			

			
	.container
		padding-left 60px
		padding-right 60px
		
	.title
		&-h2-size
			font-size 28px
			line-height 37px
			
		&-h3-size
			font-size 19px
			line-height 26px
			
	// Menu
	.menu-categories
		> ul
			
			li
				width 25%
				

	// promo
	.promo-slide__right-offset 
		.video-link
			margin-left 0
			
	.promo-slide
		.btn
			left 60px
			
			&-arrow
				right 60px
				
	.video-link
		width 150px
		height 150px
			

	// Advantages
	.advantages
		&-content
			padding-top 40px
			flex 1
		&-text
			width 525px
			padding-left 90px
			flex none
			padding-bottom 40px
			font-size 18px
			
		&-items
			height 370px
			width 510px
			
	.advantage-item
		width 120px 
		height 120px
		font-size 12px
		line-height 14px
		p
			max-width 100px
		&__inner
			padding 5px
		&__ic
			width 35px
			height 35px
			margin-bottom 5px
		&:nth-child(1)
			width 130px
			height 130px
			.advantage-item__ic
				width 35px
				height 35px
		&:nth-child(2),
		&:nth-child(5)
			width 150px
			height 150px
		&:nth-child(3)
			width 140px
			height 140px
		&:nth-child(5)
			bottom 0
			
	// Includes
	.includes
		&-img
			img
				width 350px
				height auto
			
		&__row
			justify-content flex-start
			
		&-slider
			padding-bottom 30px
			&:before
				height 170px
			
			.slick-slide
				width 320px
			
			&__wrapper
				margin-right -60px
				
				.slider-controls
					bottom 10px
					
	.include-slide
		&__img
			p
				font-size 18px
				line-height 26px
		&__title
			font-size 16px
			line-height 19px
			
	// How to play
	.how-to-play
		&__imgs
			max-width 700px
			.btn-skew
				left 100px
		&__scheme
			width 400px
			height 400px
		&__dude
			left 400px
			
	.btn-skew
		width 170px
		height 58px
		
	// Top games
	.top-games-slider__wrapper
		margin-left -60px
		margin-right -60px
		margin-top 20px
		.btn-arrow
			&__prev
				left 50px
			&__next
				right 50px
				
	.top-games-slider 
		.slick-slide
	
			padding-left 35px
			padding-right 35px
			
	// Catalog
	.catalog-categories
		padding-left 40px
		padding-right 40px
		
	.catalog-category__title
		font-size 18px
		padding 10px 30px
		
	.catalog-game-card__thumbnail
		width 130px
	
	.catalog-game-card__title
		font-size 16px
		line-height 19px
		
	.catalog
		padding-top 25px
		
	.catalog-games__slider .slick-slide
		padding 10px
		
	// Gallery
	.sect__gallery
		&:after 
			width 50px
			top 75px
			
	.gallery-slider
		top 75px
		
+max-screen(1440px)
	.page-nav
		padding-bottom 50px
		left 10px
		&:before
			height 25px
		&__item
			margin-bottom 10px
			
	// How to play
	.how-to-play
		&__imgs
			max-width 700px
			.btn-skew
				left 95px
		&__scheme
			width 380px
			height 380px
		&__dude
			left 380px
			
	.btn-skew
		width 160px
		height 58px
		
	// Stock
	.stock
		
		padding 20px
		min-height 140px
		
	.stocks-slider .slick-slide>div
		margin-bottom 10px
		
	.slider
		padding-left 60px
		padding-right 60px
		

	.stock__title
		font-size 22px
		width 180px
		
	.stock-content
		padding-left 20px
		

	// Sertificates
	.sertificates-slider 
		.slick-slide
			width 400px
			
	.sertificate-slide__img p
		font-size 16px
		line-height 19px
		padding 10px
		
	// Subscr
	.subscription-slide__content
		padding 10px
		font-size 12px
		p
			margin-bottom 10px
			
	// Faq
	.faq-slide
		width 120px !important
		
	.faq-slide__content
		font-size 16px
		line-height 18px
		height 150px
		
	.sect__faq
		padding-bottom 20px
		
	.feedback-slide__header
		height 40px
		
	.feedback-slide__gallery
		margin-top 5px
		
	.feedback-slide__author-information_photo
		width 35px
		height 35px
		
	.feedback-slide__author-information_name
		font-size 12px
		

+max-screen(1365px)
	.btn-default
		font-size 16px
		padding 11px 30px
	// Top games
	.top-games-slider
		.slick-slide
			padding-left 10px
			padding-right 10px
			width 100%
		&__wrapper
			margin-left 0
			margin-right 0
			padding-left 80px
			padding-right 80px
			
			.btn-arrow
				&__prev
					left 0
				&__next
					right 0
					
	.game
		&__title
			font-size 22px
			line-height 27px
			margin-bottom 10px
			
		&__category
			font-size 18px
			line-height 24px
			margin-bottom 10px
			
		&__age
			width 40px
			height 40px
			font-size 15px
			
	.top-game 
		padding 7.5px
		.permalink
			margin-bottom 20px
			

	// Catalog
	.catalog-game-card__thumbnail
		width 100%
		
	.faq-slide__content
		font-size 14px
		line-height 17px
		
	.feedback-slide__text
		font-size 10px
		line-height 12px
		
	.feedback-slide__link
		font-size 12px
		
	.feedbacks-slider 
		.slick-slide
			padding-left 5px
			padding-right 5px
		
		.slick-track
			margin-left -5px
			margin-right -5px
		
	

+max-screen(1280px)
	.header
		padding-top 7.5px
		padding-bottom 7.5px
		min-height 60px
		
	.full-height
		height calc(100vh - 60px)
		
	.section-content
		padding-top 60px
		
	.btn-arrow
		width 50px
		height 50px
		svg
			width 10px
	// Menu
	.menu-categories
		> ul
			li
				width 33.3333%
				
	// Promo
	.promo-slide
		padding-top 80px
		
	.promo-slide .video-link
		width 120px
		height 120px
		
	// Advantages
	.advantages
		&-items
			height 340px
			
	.advantage-item
		&:nth-child(1)
			top 0
			left 0
		&:nth-child(2)
			right 0
			top 0
		&:nth-child(3)
			position-center()
		&:nth-child(4)
			bottom 0
			left 0
		&:nth-child(5)
			right 0
			bottom 0
			
	// How to play
	.how-to-play
		&__imgs
			.btn-skew
				bottom -25px
				left 75px
		&__scheme
			width 300px
			height 300px
		&__dude
			left 300px
			
	.btn-skew
		width 125px
		height 45px
		
	// Gallery
	.gallery-slider
		top 60px
		
	.sect__gallery:after
		top 60px
		
	.stocks-slider .slick-slide
		margin-right 10px
		
	// Feedbacks
	.feedback-slide__src
		padding-right 20px
				
+max-screen(1100px)
	

		
	.tooltip-content
		left auto
		transform none
		right -50px
		&:before
			left auto
			transform none
			right 53px
			
	.section
		.title
			text-align center
	// Header
	.header
		.container
			padding-left 20px
			padding-right 20px
		&__row
			flex-wrap nowrap
		.phone-link
			width 22px
			height 22px
			padding 0
			&:before
				position-center()
			span
				display none
				
		&-tools
			&__contacts
				margin-left 30px
				
	.menu
		&-aside
			padding-top 90px
			&__title
				font-size 18px
				margin-bottom 25px
				
			&__list
				a
					font-size 18px
					
		&-content
			padding-top 90px
			padding-left 30px
			padding-right 30px
			
			.btn-close
				display none
				
	.menu-categories
		> ul 
			li
				width 50%
				margin-bottom 25px
				
	// Promo
	.promo-slide
		.container
			display flex
			flex-direction column
			
		&__content
			text-align center
			flex none
			position static
			
		&__img
			position relative
			transform none
			left auto
			bottom auto
			top auto
			flex 1
			display flex
			align-items flex-end
			justify-content center
			width 100%
			
			img
				height 100%
				width auto
				display block
				position absolute
				bottom 0
				horisontal-center()
			
		.video-link
			position absolute
			right 60px
			bottom 30px
			z-index 2
			margin-top 0
			margin-left 0
			margin-right 0
		
		.btn
			bottom 30px
			&-arrow
				background-color $basic-white-color
			
	.promo-slide__row.align-horisontal-between .promo-slide__text
		max-width 100%
		width 100%
		text-align center
		
	.title-h2-size
		font-size 30px
		line-height 36px
		
	.title-h3-size
		font-size 20px
		line-height 26px
		
	.promo-slide__right-offset 
		.promo-slide__img
			margin-left 0
			
		.btn
			margin-left 0
			
	// Advantages
	.sect__advantages
		.container
			padding-right 60px
	.advantages
		&-content
			padding-right 0
			padding-top 20px
			display flex
			flex-direction column
			&__text
				max-width none
				text-align center
				
		&-items
			width 100%
			max-width 700px
			height 400px
			padding-bottom 20px
			margin 20px auto 0
		&-text
			display none
			
	.advantage
		&-item
		
			&:nth-child(1)
				top 0
				left 0
			&:nth-child(2)
				right 0
				top 0
			&:nth-child(3)
				position-center()
			&:nth-child(4)
				left 0
				bottom 0
			&:nth-child(5)
				right 0
				bottom 0
		
			
	
	// Includes
	.includes
		&-img
			display none
			


			
	// Catalog
	.catalog-games__slider 
		.slick-slide
			display block !important
			
	// Stock
	.stock
		// height 100%
		// > .row
		// 	height 100%
		// 	flex-direction column
		// 	justify-content space-between
		&__title
			width 100%
			margin-bottom 20px
		&-content
			flex 1
			width 100%
			padding-left 0
			
			&:before
				display none
				
			&__row
				flex-wrap wrap
				flex-direction column
				height 100%
				
			&__text
				width 100%
				max-width 100%
				margin-right 0
				margin-bottom 20px
				flex 1
				
			&__btn
				width 100%
				.row
					justify-content space-between
					
	// Sertificates
	.sertificates__header
		font-size 14px
		line-height 17px
		.title
			text-align left
			margin-bottom 10px
			
	.sertificate-slide__title
		font-size 18px
		margin-bottom 15px
			
+max-screen(992px)
	// How to play
	.how-to-play
		&__dude
			display none
		&__scheme
			width 100%
			height auto
			img
				width 100%
				
		&__imgs
			.btn-skew
				left 26%
				bottom -8%
				
	.btn-skew
		width 40%
		height 110px
		

	// Popup
	.popup-inner
		padding 20px
		
	.order-form
		padding-left 0
		padding-right 0
		
	// Top game
	.top-games-slider
		&__wrapper
			padding-bottom 30px
			flex none
			
	.top-game
		&__inner
			flex-wrap wrap
		&__poster
			width 100%
			padding-top 56.15%
		&__content
			width 100%
			
	// Gallery
	.sect__gallery
		.video-link
			position absolute
			top 10px
			left 70px
			z-index 3
			
		.container
			padding-bottom 20px
			
	.gallery-btn
		margin-left 0
		margin-right 40px
		

	.stocks-slider 
		.slick-track
			display block
		.slick-slide
			float left
			
	//Sertificates
	.sertificates-slider 
		.slick-track
			left auto
		.slick-slide
			width auto
		
	.sertificates-slider
		margin-left 0
		margin-right 0
		
	.feedbacks-slider 
		.slick-slide
			float left !important
			> div
				margin-bottom 10px
			
	.feedbacks-slider .slick-track
		display block !important
			
	
			
+max-screen(767px)
	.page-nav
		display none
		
	.container,
	.sect__advantages .container
		padding-left 20px
		padding-right 20px
		
	// promo
	.promo-slide
		.btn
			left 20px
			bottom 20px
			&-arrow
				right 20px
			
		.video-link
			right 20px
			bottom 20px
			width 100px
			height 100px
			
	.btn-arrow
		width 50px
		height 50px
		svg
			width 10px
			
	// Includes
	.includes
		&-slider
			padding-left 20px
			padding-right 20px
		
			.slick-slide
				width 100%
				margin-right 0
				padding-left 10px
				padding-left 10px
			&__wrapper
				width 100%
				margin-right 0
				flex none
				
				.slider-controls
					horisontal-center()
					
	.include-slide
		&__img 
			p
				font-size 15px
				line-height 24px
				
				
	.includes__row
		padding-right 0
		margin-left -20px
		margin-right -20px
		width auto
			

	// How to play
	.how-to-play
		&__scheme
			width 620px
			margin 0 auto
			horisontal-center()
			

	// Popup
	.popup-inner
		padding 15px
		
		.btn-close
			top 10px
			right 10px
		
	.order-form
		padding-left 0
		padding-right 0
		
	.form-groups__row 
		.form-group
			width 100%
			padding-bottom 20px
			
	.order-controls, 
	.order-form__services .row,
	.form-range__group
		margin-bottom 25px
		
	.form-checkboxes
		margin-left -15px
		flex-wrap wrap
		&__row
			flex-wrap wrap
		
			.form-label
				width 100%
				max-width 100%
				margin-bottom 20px
				
	.form-radios
		padding-right 0
		
	.form-range__tooltip
		font-size 12px
		height 15px
		margin-bottom 0
		bottom auto
		top 100%
		margin-top 3px
		
	.form-time__row
		flex-wrap nowrap
		
		.form-row__col
			max-width 50%
			
		.form-label
			min-height 30px
			display flex
			align-items center
			
	.order-form__services
		margin-bottom 25px
		
	.order-controls
		text-align left
		display flex
		flex-wrap nowrap
		justify-content space-between
		
		.btn-tab
			width auto
			flex 1
			padding-left 10px
			padding-right 10px
			font-size 16px
		
	.form-checkbox__col
		width 100%
		margin-bottom 15px
		&:last-child
			margin-bottom 0
			
	.popup__overflow
		padding 60px 20px
		background-color $color-bg
		&:before
			display none
			
	.popup__body
		display block
		padding 0
		
	.popup-inner
		padding 0
		
		.btn-close
			top -50px
			right 0
			width 35px
			height 35px
			svg
				width 12px
				height 12px
				
		.btn-close-simple
			width 20px
			height 20px
			top -50px
			right 0
				
	.popup
		&.is-outer
			.popup-outer
				border-radius 0
				border none
				padding 0
				
		.game__category
			font-size 18px
			line-height 24px
			margin-bottom 10px
			
	
				
	.popup.is-lightmode 
		.popup__overflow
			background-color $color-bg
			
	.popup__title
		font-size 24px
		line-height 29px
		margin-bottom 10px
		

	.catalog-game-card__info
		margin-top 30px
		position relative
		
		.game__age
			position absolute
			bottom 0
			right 0
		.row
			flex-wrap wrap
			justify-content center
		
		.game-params
			width auto
			margin-right 40px
			&:nth-child(1)
				order 1
			&:nth-child(3)
				order 2
				.game-param
					margin-right 0
	
			

	.catalog-game-card__btn
		order 3
		width 100%
		margin-top 20px
		text-align center
		
	// Top game
	.top-games-slider
		&__wrapper
			padding-left 0
			padding-right 0
			flex 1
			
			.btn-arrow
				display none !important
			
	.top-game
		position relative
		&__inner
			flex-wrap wrap
			display flex
			flex-direction column

		&__content
			padding 10px 30px
			
		&__poster
			height auto
			padding-top 0
			flex 1
			
		// &__poster
		// 	width 120px
		// 	height 180px
		// 	padding-top 0
		// 	border-radius 5px
		// 	position absolute
		// 	top 20px
		// 	left 20px

		// &__title
		// 	padding-left 140px
		// 	min-height 180px
			
	// Catalog
	.catalog-games
		padding-bottom 30px
		
	.catalog-games__slider 
		.slick-slide
			>div
				height 100%
				&:first-child
					margin-bottom 0
					
	.catalog-game-card__content
		display flex
		flex-direction column
		

	// gallery
	.sect__gallery
		&:after
			display none
			
		.video-link
			left 20px
			
	.video-link
		width 100px
		height 100px
		
	.gallery-btn
		display none
		
	.gallery-slider-thumbnails
		width 100%
		&__wrapper
			width 100%
		
			.slick-slide
				padding-right 10px
			

	.gallery-slider-controls
		width 120px
		margin-bottom 10px
		
	// Stocks
	.stock
		height 100%
		> .row
			height 100%
			flex-direction column
			justify-content space-between
		
					
	.stocks-slider
		.slick-track
			display flex
			flex-wrap nowrap
			
		.slick-slide
			float none
			height auto
			> div
				height 100%
				

	.stocks-slider__title
		justify-content space-between
		margin-bottom 30px
		.title
			margin-bottom 0
			
		.slider-controls
			display flex
			

	.stocks-slider__wrapper
		padding-left 0
		padding-right 0
		.btn-arrow
			display none !important
			
	.stock-content__btn
		.row
			justify-content center
			text-align center
			
	.stock-discount
		width 100%
		margin-right 0
		margin-bottom 15px
		

	// subscr
	.sect__contacts, .sertificates, .subscription
		padding-bottom 20px
		
	.subscription-slide__img p
		font-size 18px
		line-height 19px
		
	.subscription-slide__title
		font-size 16px
		

	.sect-header
		text-align left
		justify-content space-between
		margin-bottom 10px
		.title
			text-align left
		.slider-controls
			display flex
			
	.section
		.sect-header
			.title,
			.title-h2-size
				margin-bottom 0 
				margin-right 10px

			
	.section
		.title-h2-size
			font-size 20px
			line-height 24px
			margin-bottom 10px
			
		.title-h3-size,
		.sect-subtitle
			font-size 15px
			line-height 17px
			
	.sect-subtitle
		br
			display none
			
	.faq-slider__wrapper,
	.feedbacks-slider__wrapper 
		padding-left 0
		padding-right 0
		.btn-arrow
			display none !important
			
	

	.feedback-slide__header
		display none
		

				
+max-screen(700px)

	.title-h2-size
		font-size 24px
		line-height 30px
		
	.title-h3-size
		font-size 16px
		line-height 22px
			
	.hidden-mobile
		display none
		
	.header
		&:before
			display none
		&.is-opened
			background-color transparent
			&:before
				display none
			
		&-logo
			width auto
			margin-right 20px
		
			
		&-tools
			flex 1
			&__contacts
				margin-left 20px
			
		.logo
			max-width none
			width auto
			margin-right 0
			img
				width 40px
	// Menu
	.menu
		background-color $menu-aside-bg
		&-content
			display none
		&-aside
			width 100%
			padding-left 20px
			padding-right 20px

			.decor-circles
				width 400px
				height 400px
				position-center()
				animation rotate 15s linear infinite forwards
				

	.visible-mobile
		display block
		
	// Promo
	.promo-slide
		.video-link
			display none
			
		.btn
			horisontal-center()
			
		
		
		.subtitle
			margin-top 5px
			
		.decor-circles
			width 330px
			height 330px
			
	.btn
		font-size 18px
		span
			padding 15px 40px
			
	.iScrollVerticalScrollbar.iScrollLoneScrollbar
		display none !important
		
	// Advantages
	.advantage-item
		width 110px
		height 110px
		font-size 10px
		&__ic
			width 30px
			height 30px
			

			
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5)
			width 120px
			height 120px
			.advantage-item__ic
				width 30px
				height 30px
	
	// Popup
	.order-form__services 
		.row
			flex-wrap wrap
			
		.form-label
			width 100%
			max-width 100%
			margin-bottom 15px
			
	.form-label
		font-size 15px
	
	.form-row__col .form-group
		margin-left 0
		
	.form-range
		margin-left 0
		width 100%
		padding-left 15px
		padding-right 15px
		flex none
		
	.form-radio__item
		font-size 15px
		padding 12px 20px
		
	.form-checkbox
		&__item
			font-size 15px
			padding-left 25px
			
	// Catalog
	.catalog-category__title
		font-size 14px
		line-height 16px
		padding 10px
		
	.catalog-games
		&__slider
			padding-right 0
			padding-left 0
			position relative
			padding-bottom 60px
			
			.btn-arrow
				position absolute
				horisontal-center()
				bottom 10px
				top auto
				&__prev
					margin-left -40px
				&__next
					margin-left 40px
					
	.catalog-game-card__thumbnail
		width 85%
		margin 0 auto 10px auto
			



				
+max-screen(550px)
	// How to play
	.how-to-play
		&__imgs
			margin-top 0
			.btn-skew
				bottom -12%
		&__scheme
			width 460px
			


	.catalog-game-card__gallery
		margin-bottom 20px
		flex-wrap wrap
		&--col
			width 100%
		
		&--imgs
			display none
			&_col
				order 1
				width 100%
				text-align center
				
				.popup__title
					max-width 100%
		&--video
			&_col
				order 2
				margin-top 20px
				
	.catalog-game-card__btn
		text-align left
		
	.catalog-game-card__info .row
		justify-content space-between
		
	.catalog-game-card__info .game-params
	
		margin-right 10px
		justify-content space-between
		&:last-child
			margin-right 0
			
	.catalog-game-card__details .game-param
		margin-right 10px
		
	.catalog-game-card__gallery--poster
		width 100px
		
	// Top game
	.top-games__title
		.slider-controls
			display flex
	.top-games__wrapper
		padding-bottom 0
	.top-games-slider__wrapper
		.btn-arrow
			display none !important
	.top-game
		border none
		padding 0
		&__content
			position relative
			padding 15px
			
		.game
			&__description
				height 50px
				overflow hidden
				position relative
				&:before
					pseudo()
					position absolute
					width 100%
					bottom 0
					height 20px
					background rgb(183,218,236)
					background -moz-linear-gradient(0deg, rgba(183,218,236,1) 0%, rgba(255,255,255,0) 100%)
					background -webkit-linear-gradient(0deg, rgba(183,218,236,1) 0%, rgba(255,255,255,0) 100%)
					background linear-gradient(0deg, rgba(183,218,236,1) 0%, rgba(255,255,255,0) 100%)
					z-index 1
			&__title
				font-size 18px
				line-height 24px
				margin-bottom 5px
			&__category
				font-size 14px
				line-height 1
				
			&-params
				
				justify-content space-between
				align-items flex-end
				
				.game-param
					padding-left 0
					padding-top 30px
					font-size 15px
					margin-right 0
					&:before
						horisontal-center()
						top 0
						
				
				

			
	.top-game__poster.has-trailer
		&:before
			width 39px
			height 39px
			
	.permalink
		font-size 14px
		
	// Sertificates
	.sertificate-slide
		&__content
			padding 10px
		&__img
			p
				display none
				
	.sertificates__header
		font-size 12px
		br
			display none
			
		.row
			align-items flex-start
			
	.sertificates-slider 
		margin-left -5px
		margin-right -5px
		.slick-slide
			padding-left 5px
			padding-right 5px
			


+max-screen(500px)
	// Header

	.search
		&-wrapper
			width 22px
			height 22px
			position static
			
			.btn-search
				position relative
				transform none
				left auto
				top auto
				right auto
				bottom auto
				
		&-form
			position absolute
			top 100%
			left 0
			z-index 999
			width 100%
			padding 10px 20px
			background-color $alternate-light-text-color
			.btn-search
				vertical-center()
				right 30px
				position absolute
				

	.header.is-opened
		.search-form
			background-color $menu-aside-bg
			
	// Popup
	.top-game__details 
		.game-params
			justify-content space-between
		.game-param
			margin-right 10px
			&:last-child
				margin-right 0
				
		&--btn
			display flex
			flex-wrap nowrap
			align-items center
			justify-content space-between
			
			.game__age
				position relative
				transform none
				top auto
				right auto

			
+max-screen(374px)
	// How to play
	.how-to-play
		&__imgs
	
			.btn-skew
				bottom -16%
		&__scheme
			width 350px
			
	// Top games
	.top-game
		.game__description
			display none
			
		.game-params
			margin-bottom 10px