// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen-height(700px)
	.promo-slide
		padding-top 125px
		&__img
			&:before
				width 450px
				height 450px
		
	.section-content
		padding-top 125px
		
	.sect__advantages
		.section-content
			padding-top 105px
			
	.sect-gutter-top
		padding-top 15px
		
	.advantages-content
		padding-top 15px
		
+max-screen(1920px)
	// Menu
	.menu-categories
		> ul
			
			li
				width 20%
				
+max-screen(1660px)
	// Menu
	.menu-categories
		> ul
			
			li
				width 25%