<div class="format">
	<div class="format-inner">
		<div class="format-img thumbnail">
			<img src="img/top-game-poster.jpg" alt="">

			<div class="format-labels">
				<div class="format-label__wrapper">
					<div class="format-label">
						<img src="img/helmet.png" alt="">
						<p>Беспроводной шлем</p>
					</div>
				</div>
				<div class="format-label__wrapper">
					<div class="format-label">
						<img src="img/controllers.png" alt="">
						<p>Беспроводные контроллеры</p>
					</div>
				</div>
			</div>
		</div>

		<div class="format-content">
			<div class="format-content__text">
				<h3 class="format-title">VR Арена</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

				<ul class="format-characteristics">
					<li>Активная соревновательная игра</li>
					<li>Максимальное количество игроков – 6</li>
					<li>Игроков в команде от 1 до 3</li>
					<li>Таблица результатов</li>
					<li>Возраст от 10 лет</li>
				</ul>
			</div>
			<div>
				<button class="btn btn-square" type="button"><span>Подробнее</span></button>
			</div>
		</div>
	</div>
</div>