<div class="format">
	<div class="format-inner">
		<div class="format-img thumbnail">
			<img src="img/top-game-poster.jpg" alt="">

			<div class="format-labels__wrapper">

				<div class="format-labels js-format-labels-slider">
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/helmet.png" alt="">
							<p>Беспроводной шлем</p>
						</div>
					</div>
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/controllers.png" alt="">
							<p>Беспроводные контроллеры</p>
						</div>
					</div>
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/helmet.png" alt="">
							<p>Беспроводной шлем</p>
						</div>
					</div>
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/controllers.png" alt="">
							<p>Беспроводные контроллеры</p>
						</div>
					</div>
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/helmet.png" alt="">
							<p>Беспроводной шлем</p>
						</div>
					</div>
					<div class="format-label__wrapper">
						<div class="format-label">
							<img src="img/controllers.png" alt="">
							<p>Беспроводные контроллеры</p>
						</div>
					</div>
				</div>

				
				<!-- Controls -->
				<button class="btn-arrow-simple btn-arrow-simple__prev js-format-labels-slider-btn-prev" type="button">
					<svg  viewBox="0 0 12 20"  xmlns="http://www.w3.org/2000/svg">
						<path d="M2.65393 9.81978L10.881 1.59274C11.1654 1.30828 11.1654 0.847105 10.881 0.562646C10.5965 0.278272 10.1353 0.278272 9.85087 0.562646L1.10879 9.30473C0.824414 9.58919 0.824414 10.0504 1.10879 10.3348L9.85087 19.0769C10.1403 19.3564 10.6015 19.3484 10.881 19.059C11.1536 18.7767 11.1536 18.3291 10.881 18.0468L2.65393 9.81978Z" />
					</svg>

				</button>
				<button class="btn-arrow-simple btn-arrow-simple__next js-format-labels-slider-btn-next" type="button">
					<svg viewBox="0 0 12 20"  xmlns="http://www.w3.org/2000/svg">
						<path d="M9.34607 9.81978L1.11903 1.59274C0.834613 1.30828 0.834613 0.847105 1.11903 0.562646C1.40353 0.278272 1.86467 0.278272 2.14913 0.562646L10.8912 9.30473C11.1756 9.58919 11.1756 10.0504 10.8912 10.3348L2.14913 19.0769C1.85972 19.3564 1.39854 19.3484 1.11903 19.059C0.846394 18.7767 0.846394 18.3291 1.11903 18.0468L9.34607 9.81978Z" />
					</svg>

				</button>
				<!-- //Controls -->


			</div>
		</div>

		<div class="format-content">
			<div class="format-content__text">
				<h3 class="format-title">VR Арена</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

				<ul class="format-characteristics">
					<li>Активная соревновательная игра</li>
					<li>Максимальное количество игроков – 6</li>
					<li>Игроков в команде от 1 до 3</li>
					<li>Таблица результатов</li>
					<li>Возраст от 10 лет</li>
				</ul>
			</div>
			<div>
				<button class="btn btn-square" type="button"><span>Подробнее</span></button>
			</div>
		</div>
	</div>
</div>