<!-- Slide -->
<div class="faq-slide js-popup-content-parent" >
	<div class="faq-slide__content bg faq-slide__overlay js-open-popup-template-btn" style="background-image: url('img/faq.jpg');" data-popup-close-offset="true">
		<h3>Безобасно ли это?</h3>
	</div>

	<!-- Details -->
	<div class="hidden-popup-content js-popup-content">

		<div class="popup-content faq-details">

			<div class="row row-nowrap faq-details__row">
				<div class="faq-details__content">
					<p class="popup__title">Безобасно ли это?</p>

					<div class="popup__description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
				<div class="faq-details__img bg" style="background-image: url('img/faq.jpg');">
					<button class="btn btn-accent btn-sm js-close-popup-btn" type="button">Полезно!</button>
				</div>
			</div>

			

		</div>


	</div>
	<!-- //Details -->
</div>
<!-- //Slide -->

<!-- Slide -->
<div class="faq-slide js-popup-content-parent" >
	<div class="faq-slide__content bg js-open-popup-template-btn" style="background-image: url('img/faq-2.jpg');" data-popup-close-offset="true">
		<h3>Как часто бывают скидки?</h3>
	</div>

	<!-- Details -->
	<div class="hidden-popup-content js-popup-content">

		<div class="popup-content faq-details">

			<div class="row row-nowrap faq-details__row">
				<div class="faq-details__content">
					<p class="popup__title">Как часто бывают скидки?</p>

					<div class="popup__description">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					</div>
				</div>
				<div class="faq-details__img bg" style="background-image: url('img/faq-2.jpg');">
					<button class="btn btn-accent btn-sm js-close-popup-btn" type="button">Полезно!</button>
				</div>
			</div>

			

		</div>


	</div>
	<!-- //Details -->
</div>
										<!-- //Slide -->